@import base

// # SHORT HOWTO
// ## Sprites
//     .whatever{
//         @include sized-sprite($icons, badge_hit); //or
//         @include s($i, badge_hit);
//     }
// ### animation example
//     @include keyframes(rotate) {
//        from {
//           @include rotate(0);
//        }
//        to {
//           @include rotate(360);
//         }
//     }
// ## animation usage
//     body:hover{
// 	    @include animation(rotate 200s linear infinite);
//     }
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in);
// ## gradient example
//     @include background-image(linear-gradient(#232323, #5c5c5c));
// ## making bw-images
//     img{@extend %gray;}
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     @min-screen(320){ css goes here}
// @max-screen(1000), @iphone5, @iphone4, @ipad-retina, @ipad, @hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3 {
//       .item-#{$i} { width: 2em * $i; }
//     }
//     @each $s in a,b,c{
// 	    #{$s}
//     }
// BTW these comments will not render into css
// for awesomeness use .🍺 class. Example:
// .🍺{beer:everything}

*
    margin: 0
    padding: 0
  
ul,ol
    list-style: none
    margin: 0
// +iphone
//   *
//     -webkit-text-size-adjust: none

button::-moz-focus-inner
    padding: 0
    border: 0

input[type="submit"]::-moz-focus-inner
    padding: 0
    border: 0

.button
    width: 94px
    text-transform: uppercase
.h1
    display: inline-block
    font-size: 26px
    color: #fff
    font-weight: normal
    line-height: 1
    margin: 0
.h1_up
    font-size: 24px
    text-transform: uppercase        
.h2
    font-size: 18px
    font-weight: normal
    color: #141516 
    line-height: 1
    text-transform: uppercase
    margin: 0         
.blue
    color: #1a9cd9     
.filters
    background: #f2f1ef
.link-more
    display: inline-block
    height: 20px
    line-height: 20px 
    padding: 0 11px
    @include border-radius(10px)
    background: #1379a9
    @include box-shadow(0 1px 0 #0b4866, inset 0 1px 0 rgba(75,169,213,.39))
    color: #fff
    &:hover
        text-decoration: none
.box
    padding: 25px 0        
.box__inner
    margin-top: 20px
.img-box
    +box
    padding: 3px
    background-color: #fff
    @include box-shadow(0 0 3px rgba(0,0,0,.19))
    img
        width: 100%
        height: 100%    
