@import base

// Styles

// .span12		1070px
// .span11		980px
// .span10		890px
// .span9		800px
// .span8		710px
// .span7		620px
// .span6		530px
// .span5		440px
// .span4		350px
// .span3		260px
// .span2		170px
// .span1		80px

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container
	width: 980px

// carousel
.carousel
	margin-bottom: 0
.carousel-control
	display: none
.carousel-indicators
	position: absolute
	bottom: 30px
	top: auto
	right: 30px
	left: auto
	li
		display: inline-block
		background: #fff
		width: 12px
		height: 12px
		+border-radius(50%)
	li.active
		background: #dd542c
.item__img
	height: 400px
	overflow: hidden
	img
		width: 100%
		height: 100%    		
.item__block
	position: absolute
	bottom: 30px
	left: 0px
	width: 350px
	+box
	padding: 30px
	background: #c43a13
.item__table
	margin: 20px 0
	li
		min-height: 1px 
.item__left
	font-size: 11px
	color: #d59286
	min-height: 1px!important  
.item__right
	font-size: 16px
	color: #fff
	min-height: 1px!important   	 		 
.item__bottom
	+clr
.item__price	
	float: left
	font-size: 20px
	+casp_b
	color: #f6c20c
.link
	position: relative
	top: 3px
	text-transform: uppercase
	font: bold 11px Arial, sans-serif
	color: #fff
	text-decoration: underline
	&:hover
		color: #fff
		text-decoration: none
.link_orange
	color: #c43a13
	text-transform: none
	&:hover
		color: #c43a13
.agent__info
	padding: 20px 20px 13px
	background: #ebe9e7
	font: 12px Arial, sans-serif
	line-height: 1.6
	p
		margin: 0 
.agent__name
	margin: 0 
	+casp_b
	font-size: 24px
	color: #464b54
.agent__img
	width: 100%
	height: 100%  	
.l-filters
	padding: 30px 50px 30px 30px
	+clr
	background: #f2f1ef 
	.h2
		float: left
	.link
		float: right
		color: #c43a13
.filters
	clear: both
	+clr
	margin-top: 36px
.filter__item
	float: left
	width: 120px
	margin-left: 18px
	p
		height: 14px
		margin: 0px 0px 2px
		font-size: 12px
	&:first-child
		margin-left: 0
	input
		width: 196px
		+casp_b
		color: #292b2c 	
.filter__item_long
	width: 210px 
.l-article
	@include border-radius(0 0 10px 10px)
	background-color: #464b54
	@include box-shadow(0 1px 3px rgba(115,127,140,.42))
.article
	+box
	padding: 30px 0px 30px 30px
	p
		margin: 20px 0 30px
		color: #caccd1
.l-popular
	padding-left: 80px
.popular
	a
		+casp_b
		font-size: 13px
		text-decoration: underline
		color: #424b5a
		&:hover
			text-decoration: none		
.comment_img
	width: 89px
	height: 99px
	margin-right: 20px
.comment__text
	width: 211px		  
.quote
	font: italic 12px Arial, sans-serif
	color: #393d3e
	line-height: 1.8
.page_bg
	position: relative
	border-top: 1px solid #d5d4d4
	background: #ebe9e7
	&:before
		content: ""
		position: absolute
		top: 1px
		width: 100%
		height: 1px
		background: #fff   
.l-preoperties
	padding: 30px 0
	.h1
		color: #141516
		font-weight: bold
.preoperties
	margin-top: 30px
.preoperties__main
	margin: 20px 0 0
	padding-bottom: 8px
	border-bottom: 1px solid #d3d0cd
	+casp_b
	p
		margin: 0
.preoperties__img
	display: block						
.preoperties__adress
	font-size: 16px
	color: #c53b14
	&:hover
		color: #c53b14
.preoperties__price
	font-size: 14px
	color: #424b5a
.preoperties__info
	position: relative
	padding: 15px 0 0
	border-top: 1px solid #fff
	li
		margin-bottom: 8px
		padding-left: 0
		p
			margin: 0
			line-height: 1.2 
.preoperties__type
	font-size: 11px
	color: #979694
.preoperties__value
	+casp_b
	font-size: 13px
	color: #424b5a
	
// preoperty

.sidebar
	padding-top: 32px
	margin-bottom: 50px
.sidebar__title
	margin: 0px 0px 25px
	+casp_b
	font-size: 20px
	color: #464b54
	line-height: 1 
.contact-agent
	padding: 20px 20px 30px
	margin-bottom: 40px
	+border-radius(10px)
	background-color: #ebe9e7
	+box-shadow(0 1px 3px rgba(115,127,140,.42))
.contact-agent__img
	width: 88px
	height: 98px
	margin-right: 9px
.contact-agent__text
	width: 100px
	font-size: 16px
	color: #464b54
	p
		margin: 15px 0 8px 	
.agent-link
	+casp_b
	color: #f24b1b
	font-size: 18px
.contact-agent__reting
	i
		display: inline-block
.contact-agent__form
	margin-top: 30px		
.contact-agent__input
	width: 182px!important
.sidebar__similar
	margin-bottom: 20px
	.preoperties__img
		display: block
		+box
		padding: 3px
		img
			width: 100%
			height: 100%  
	.preoperties__main
		margin: 20px 10px 0
	.preoperties__info
		border-top: none
		margin: 0 10px
.l-preoperties__info
	position: relative
.preoperties__more
	position: absolute
	top: 15px
	right: 10px
	+box
	padding-top: 3px
	+box-shadow(0 1px 0 #fff, inset 0 1px 0 rgba(202,208,210,.28))
	background: #d9dee0
	font: 11px Arial, sans-serif
	color: #2f3339 
	z-index: 2
	&:hover
		color: #2f3339
.l-sidebar__similar
	padding-bottom: 20px
	background: #fff
	border-radius: 2px
	+box-shadow(0 0 3px rgba(0,0,0,.19))
.similar__more
	padding: 0 10px
.content
	padding: 32px 0 0 10px
	margin-bottom: 50px
	.h1
		margin-bottom: 20px
		color: #c53b14
.content__tabs
	position: relative
.montly
	position: absolute
	top: 0px
	right: 0px
	cursor: pointer
	padding: 0px 20px 0 45px
.payment
	position: absolute
	top: 7px
	left: 15px
	+s(ico_payment)				
.tabs
	li
		margin-right: 5px
		border-radius: 3px 3px 0 0
		+box
		border: 1px solid #cfcfcf
		background: #fff
		a
			padding: 11px 12px
			border: none
			margin-right: 0
			font: bold 11px Arial, sans-serif
			color: #2f3339
			text-transform: uppercase
	li.active
		border-bottom: 1px solid #f3f5f7
		a
			background: #f3f5f7
			border: none
			&:hover
				border: none
				 		
//slider
.building__gallery
	margin-bottom: 20px
.building__photo
	+clr
	.building__media
		text-align: center
		float: left
		width: 615px
		height: 506px
		line-height: 270px
		img
			vertical-align: middle
			text-align: center
			width: 100%
			height: 100%
			display: block
.building__thumbs
	position: relative
	float: left
	width: 101px
	+box
	padding: 5px
	background: #000  
	.caro
		height: 70px
		width: 100%
		height: 432px
		overflow: hidden
		position: relative
	
	ul
		margin: 0
		left: 0!important
		position: absolute
		height: 20000em
		list-style: none
		li
			height: 70px
			float: left
			margin: 0 0 2px 0
			cursor: pointer
			@include opacity(.55)
			&:hover, &.active
				border-color: #ff9900
				background-color: #ff9900
				@include opacity(1)
			img
				width: 100%
				height: 100%
				vertical-align: middle
.slide__arrow-prev
	position: relative
	display: block
	height: 32px
	+opacity(1)
	cursor: pointer
	+no-sel
	i
		position: absolute
		top: 9px
		left: 39px
		+s(slide-prev)
	&.disabled
		+opacity(.2)
.slide__arrow-next
	position: relative
	display: block
	height: 32px
	+opacity(1)
	cursor: pointer
	+no-sel
	i
		position: absolute
		top: 9px
		left: 39px
		+s(slide-next)
	&.disabled
		+opacity(.2)
.l-building__param
	position: relative
	&:before
		content: ""
		position: absolute
		top: 55px
		left: 228px
		bottom: 25px
		width: 1px
		background: #c5c5c4		
.building__param
	padding: 0 0 25px 20px
	overflow: hidden
	+box
	
	.building__param-price
		font-size: 26px
		+casp_b
		display: block
		width: 100%
		margin: 0
		margin-bottom: 10px
		color: #c53b14
	ul
		margin: 0
		margin-bottom: 10px
	li
		list-style: none
	dl
		@extend %clr
		margin: 0
	dt
		float: left
		width: 75px
		color: #818587
		font-size: 12px
		font-weight: normal
	dd
		overflow: hidden
		color: #393d3d
		font-size: 14px
		font-weight: bold
	.building__descr
		margin: 50px 0 0
		padding: 0 18px
		font: 12px Arial, sans-serif
		color: #464b54  
		p
			line-height: 2
.building__infrastructure
	padding-top: 20px
	.sidebar__title
		padding-left: 20px			
.building__map
	img
		width: 100%
	+border-radius(5px)
.building__labels
	margin-top: 20px
	padding-left: 20px
	+clr
	ul
		margin: 0
		margin-right: 20px
		float: left
		width: 160px
	li
		list-style: none
	input
		width: 15px
		height: 15px
		opacity: 0
		position: relative
		z-index: 2
		cursor: pointer
	input:checked + i.icon-ckeckbox-arrow
		@include sized-sprite($icons, input_checked_ico)
	input:checked
		color: #ccc
	.icon-ckeckbox-arrow
		position: absolute
		@include sized-sprite($icons, input_ico)
		left: 0
		top: 2px
		line-height: 16px
	.building__icons
		margin-top: -5px
		margin-right: 5px
		display: inline-block
		vertical-align: middle
	.g-icon-school
		+s(ico_school)
	.g-icon-hschool 
		+s(ico_hschool)
	.g-icon-hospital 
		+s(ico_hospital)
	.g-icon-police
		+s(ico_police)
	.g-icon-fire 
		+s(ico_fire)
	.g-icon-shops 
		+s(ico_shops)
	.g-icon-restoraunt 
		+s(ico_restoraunt)
	.g-icon-market 
		+s(ico_market)
	.g-icon-airports 
		+s(ico_airports)
	.checkbox
		display: inline-block
		color: #3a3c3e
		font-size: 14px
		cursor: pointer
		position: relative			
	
	




