@import "base"
* 
	margin: 0
	padding: 0 
	//-webkit-text-size-adjust: none
html, body 
	height: 100%
body
	font-family: Cambria, Colibri, Arial, Tahoma, sans-serif
	font-weight: normal 
	font-size: 14px
	line-height: 1.2
	min-width: 980px
	//-webkit-transform: translate3d(0,0,0);
	//-weblit-backface-visibility: hidden;
// resets
a img, fieldset 
	border: none
a
	color: #2c2c2c 
	text-decoration: none
	&:hover

p
	line-height: 1.2
li 
	list-style: none
textarea, button, select, input
	border: none
	outline: none
	font-family: Cambria, Colibri, Arial, Tahoma, sans-serif
button 
	line-height: 1
	cursor: pointer
	&::-moz-focus-inner
		padding: 0
		border: 0
table 
	border-spacing: 0
	border-collapse: collapse
// common styles
.wrap
	min-height: 100%
	height: auto !important
	height: 100%
	margin: 0 auto -345px
.wrap__in
	position: relative
	width: 1175px
	margin: 0 auto
	background: #FFF 
	z-index: 10
.l-info, .page
	background: #E4DBCF
.push
	height: 345px
	clear: both

// some style for btn
.more
	border: 1px solid #9e9488
	@include border-radius(10px)
	background-color: #aea498
	@include box-shadow(0 1px 3px #c6c2ac)
	display: inline-block
	padding: 5px 10px
	line-height: 1
	font-size: 12px
	color: #F2ECE5
	&:hover
		background: #9D968C
		color: #F2ECE5
		text-decoration: none
	&:active
		+box-shadow(inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05))

.btn
	+ub
.g-btn
	&:focus
		outline: none

.g-btn_ub-bold
	+ub
.g-btn_tt-u
	text-transform: uppercase

.btn-primary
	background-color: #005aad
	background: #005aad
	&:hover, &:focus
		background-color: #0c5aa1
		background: #0c5aa1	

.btn-success
	background-color: #398911
	background: #398911
	text-transform: none
	padding: 0 8px
	height: 25px
	line-height: 25px
	&:hover
		background-color: #368111
		background: #368111
	&:focus
		background-color: #368111
		background: #368111
		
.g-btn_green
	height: 25px
	line-height: 25px
	@include border-radius(10px)
	@include background-clip(padding-box)
	background-color: #7fad45
	+background-image(linear-gradient(transparent, transparent))
	font-size: 12px
	color: #FFF
	text-transform: uppercase
	+ub
	&:hover
		background-color: #729c3e
		background: #729c3e
	&:active
		// background-color: #368111
		// background: #368111
		+box-shadow(inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05))
.g-btn_dark-green
	background: #244F0E
	border: none
	+um
	+box-shadow(none)
	font-size: 12px
	&:hover
		background-color: #295a10
		background: #295a10
	&:focus
		background-color: #295a10
		background: #295a10
	&:active
		+box-shadow(inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05))

// select
.select
	position: relative
	height: 30px
	line-height: 30px
	color: #54595a
	font-size: 12px
	background-color: #fff
	+box-shadow(0 -1px 0 #c7c6bd, inset 0 1px 1px #ecece9)
	border-radius: 10px
	&.select_mod
		float: left
		width: 48%
		&.pull-right
			float: right
	&:hover
		cursor: pointer
	span
		display: block
		padding: 0px 32px 0 10px
		overflow: hidden
		text-overflow: ellipsis
		white-space: nowrap
		em
			font-style: normal
		i
			position: absolute
			right: 8px
			top: 50%
			margin-top: -8px
			content: ""
			+s(arrow)
	&.is-open
		border-radius: 10px 10px 0 0
		span
			i
				+transform(rotate(180deg))
		.select__drop
			display: block
	.select__drop
		display: none
		position: absolute
		top: 100%
		z-index: 10
		left: 0
		width: 100%
		background-color: #fff
		+box-shadow(inset 0 0px 1px #b4bcbf)
		ul
			margin: 0
			padding: 5px 0
		li
			padding: 2px 10px
			&:hover
				background-color: #cedee5
				cursor: pointer
			span
				padding: 0

// select-radio
.select-radio
	position: relative
	display: inline-block
	min-width: 100%
	font-size: 12px
	+u
	span
		display: inline-block
		margin-left: 6px
	input
		+opacity(0)
		position: relative
	input + span
		color: #7c7a77
		&:before
			content: ""
			position: absolute
			top: 3px
			left: 0px
			width: 14px
			height: 14px
			+box
			@include box-shadow(inset 0 1px 1px #b4b2a7)
			border-radius: 50%
			background: #fff
			opacity: 1 
	input:checked + span
		&:after
			content: ""
			position: absolute
			top: 8px
			left: 4px
			width: 6px
			height: 6px
			border-radius: 50%
			background: #80ae46

// select-checkbox
.select-checkbox
	position: relative
	display: inline-block
	min-width: 51%
	color: #f0f4f5
	font-size: 12px
	span
		display: inline-block
		margin-left: 6px
		font-size: 13px
		color: #757575
		+no-sel
	input
		+opacity(0)
	input + span
		&:before
			content: ""
			position: absolute
			top: 3px
			left: 0px
			width: 14px
			height: 14px
			background: #FFF 
			+box
			@include border-radius(1px)
			@include box-shadow(inset 0 1px 1px #b4b2a7)
			+u
			font-size: 12px 
			color: #7C7A77
			background: #fff
	input:checked + span
		&:after
			content: ""
			position: absolute
			top: 7px
			left: 3px
			+sized-sprite($icons, checked)

// input
input.input
	+border-radius(10px)
	+box-shadow(0 -1px 1px #6f8751)
	background-color: #fff
input.input_mod
	+box-shadow(0 -1px 1px #c7c6bd)	
// textarea
.textarea
	+um
	font-size: 12px
	color: #9F9E8A
	+border-radius(10px)
	+box-shadow(0 -1px 1px #c7c6bd)
	resize: vertical
// carousel
.carousel
	.carousel-inner
		.item
			.header__promo-image
				width: 770px
				height: 330px
				overflow: hidden
				img
					max-width: 100% 
			.header__promo-text
				background: #FFF
				padding: 20px 20px 15px 20px
				+box
				position: absolute
				bottom: 0
				left: 0
				right: 0
				text-align: left
			.btn
				display: block
				+um
			.h1, .header__promo-price
				display: inline-block
			.h1
				margin: 0 50px 15px 0
				font-size: 24px
				line-height: 1
				color: #322F2E
			.header__promo-price
				font-size: 24px
				color: #3A8911

	.carousel-indicators
		top: initial
		bottom: 20px
		right: 20px
		.active
			background: #322F2E
		li
			margin-right: 3px
			background: #fff
			+box-shadow(0 0 0 1px #322f2e)
			
// header__filter
.header__filter
	text-align: left
	.header__filter-top
		.h1
			margin: 0
			line-height: 1
			color: #DB4637
			font-size: 20px
			+um
	.header__filter-item-heading
		margin: 18px 0 6px 10px
		line-height: 1
		font-size: 12px
		font-weight: normal
		color: #322F2E 
		+um
	.header__filter-add
		margin-top: 30px
		position: relative
		.g-btn
			&:after
				content: ""
				position: absolute
				top: 8px
				right: 12px
				+s(lupa)

// l-info
.l-info
	+box-shadow(inset 0px 1px 0 #fff)
.info__in
	.h1
		+ul
		font-size: 26px
		@include text-shadow(0 1px 0 #fff)
	p
		color: #747474
		font-size: 13px
		line-height: 1.6 
		+u
		@include text-shadow(0 1px 0 #fff)
	ul
		display: inline-block
		width: 48%
		margin: 0
		vertical-align: top
		a
			+um_i
			text-decoration: underline
			color: #4C4C4C
			font-size: 13px
			&:hover
				text-decoration: none
				color: #4C4C4C
.info__in_red
	.h1
		color: #e52310
.info__in_orange
	.h1
		color: #EF7A08 
.info__in_yellow
	.h1
		color: #E1B20F
.info__in_olive
	.h1
		color: #BAB321

// page
.l-page
	background: #e4dbcf
	padding: 40px 0 0
	overflow: hidden

.l-page_inner
	+box-shadow(inset 0px 1px 0 #fff)

.page
	
.page__title
	position: relative	
	h2
		position: relative
		margin: 0
		text-align: center
		+u
		color: #322F2E
		font-size: 26px
		span
			position: relative
			display: inline-block
			padding: 0 15px 
			&:after, &:before
				content: ""
				top: 22px				
				position: absolute
				// +s(page__title-border)
				width: 10000px
				height: 4px
				background: url("../img/icons/page__title-border.png") 0 0 repeat-x 
			&:after
				right: 100%				
			&:before
				left: 100%

.g-label
	margin-bottom: 25px
	text-align: center
	+um
	span
		height: 26px
		line-height: 26px
		display: inline-block
		position: relative
		background: #DB4637
		color: #FFF
		+box-shadow(0px 2px 5px 0 rgba(0,0,0, .5))
		+um
		&:after, &:before
			content: ""
			position: absolute
			top: 0
		&:before
			+s(label-left)
			left: -15px
		&:after
			+s(label-right)
			right: -15px

// buildlist
.buildlist
	margin-bottom: 80px
	position: relative
	&:after
		content: ""
		bottom: -38px			
		position: absolute
		left: 0
		right: 0
		height: 4px
		background: url("../img/icons/page__title-border.png") 0 0 repeat-x

.buildlist__count, .buildlist__showing-page
	line-height: 30px
	font-size: 12px
	color: #9F9E8A 
	strong
		color: #332F2D
		font-size: 12px
		+ub

.building__param2
	ul
		margin: 0 0 15px
		padding: 0
	dl
		+clr
		margin-bottom: 0 
		dt
			float: left 
			+ul
			font-weight: normal
			color: #a1a09b
		.building__param-value
			width: 60% 
			float: right
			+um
			color: #575653 
			text-align: left
.building__descr
	+u
	line-height: 1.6 
	color: #757575
	font-size: 13px
	@include text-shadow(0 1px 0 #fff)
.buildlist__in
	margin: 0
	list-style: none
	li
		margin-top: 25px
		border-bottom: 1px solid #fff 
	.buildlist__image
		margin-bottom: 0
	.buildlist__item
		margin-bottom: 0

.building__btn
	margin-bottom: 15px
	.building__btn-price
		height: 55px
		line-height: 55px
		padding: 0 13px
		margin-right: 4px
		display: inline-block
		vertical-align: top
		background: #3A8911
		border-radius: 5px
		font-size: 24px
		color: #FFF
		+ub
	.building__btn-payment
		height: 55px
		line-height: 55px
		padding: 0 13px 0 45px
		display: inline-block
		vertical-align: top
		background-color: #fff
		@include border-radius(5px)
		+box-shadow(inset 0px -1px 2px #a0907a)
		+um
		font-size: 12px
		position: relative
		&:hover
			text-decoration: none
		i
			position: absolute
			top: 20px
			left: 18px
			+s(ico_payment)

.building__note
	padding: 25px 0
	margin-bottom: 40px
	position: relative
	&:after, &:before
		content: ""		
		position: absolute
		left: 0
		right: 0
		height: 4px
		background: url("../img/icons/page__title-border.png") 0 0 repeat-x
	&:after
		bottom: 0
	&:before
		top: 0

.buildlist__topper
	margin-bottom: 25px
.buildlist__item
	margin-bottom: 35px
	&.is-sale
		&:hover
			.buildlist__image
				&:before
					content: none
			.buildlist__image img, table, .h1, .buildlist__price
				opacity: 1
		.buildlist__image
			position: relative
			&:before
				content: ""
				+s(sale)
				position: absolute
				top: 50%
				left: 50%
				margin-top: -36px
				margin-left: -36px
				z-index: 100
		.buildlist__image img, table, .h1, .buildlist__price
			opacity: 0.5 
	.buildlist__item-top
		overflow: hidden
	.h1
		float: left
		margin: 0 0 15px
		line-height: 1
		color: #322F2E
		font-size: 24px
		+um
	.buildlist__item-btn
		float: right
		.more
			margin-right: 8px
	table
		margin-bottom: 15px
		td
			line-height: 1.4
			font-size: 12px
			color: #414345
			+um
			&:first-child
				width: 46%
				padding: 0
				color: #929496
				font-size: 12px
				+ul
.buildlist__image
	width: 270px
	height: 190px
	margin-bottom: 20px
	overflow: hidden
	border: 2px solid #fff
	border-radius: 1px
	a
		display: block
	img
		max-width: 100%
.h1, a
	color: #322F2E
	font-size: 18px
	&:hover
		color: #322F2E
		text-decoration: underline
	+u
.buildlist__price
	+ub
	color: #83B644 	
	font-size: 18px

// breadcrumbs
.breadcrumbs
	margin: 0
	height: 24px
	@include border-radius(10px)
	@include box-shadow(inset 0 1px 1px #968a7c)
	background-color: #cbc1b5
	position: relative
	&:before, &:after
		content: ""
		position: absolute
		top: 0
	&:before
		left: -6px
		+s(breadcrumbs-left)
		height: 24px
	&:after
		right: -6px
		+s(breadcrumbs-right)
		height: 24px
	ul
		margin: 0
	li
		float: left
		margin-right: 10px
		background-color: transparent
		&:last-child
			margin-right: 0
		&.active
			padding-bottom: 1px
			margin-bottom: 5px
			@include border-radius(10px)
			background-color: #db4537
			+box-shadow(0px 2px 5px 0 rgba(0,0,0, .5))
			position: relative
			&:before, &:after
				content: ""
				position: absolute
				top: 0
				z-index: 100	
			&:before
				left: -6px
				+s(label-left)
				height: 24px
			&:after
				right: -6px
				+s(label-right)
				height: 24px
			a
				color: #FFF
	a
		display: block
		padding: 0 18px
		font-size: 12px
		line-height: 24px
		color: #332F2D
		+ub

.breadcrumbs_tabs
	margin: 5px 0 0

// page__sidebar refine
.refine
	padding: 0 20px
	margin-bottom: 20px
	@include border-radius(20px)
	background-color: #f1ebe7
	@include box-shadow(0 1px 2px #a08f79)

.refine__title
	padding-top: 20px
	.g-btn

.refine__bottom
	margin: 0
	padding-bottom: 20px

.refine__item
	.h1
		display: inline-block
		margin: 18px 0 6px 10px
		line-height: 1
		font-size: 12px
		color: #322f2e
		position: relative
		text-transform: uppercase
		+um
		+no-sel
		&:before
			content: ""
			position: absolute
			right: -16px
			top: 50%
			margin-top: -3px
			width: 0px
			height: 0px
			border-style: solid
			border-width: 6px 4px 0 4px
			border-color: #322f2e transparent transparent transparent
		&:hover
			text-decoration: none
	.wrap-select_mod
		display: block

.tab-content
	overflow: visible

// pagination
.pagination
	height: 40px
	line-height: 40px
	@include border-radius(20px)
	background-color: #cbc1b5
	@include box-shadow(inset 0 1px 1px #968a7c)	
	ul
		vertical-align: middle
		font-size: 0
		display: block
		@include box-shadow(none)
		li
			margin: 0 14px
			display: inline-block
			vertical-align: middle
			&:hover
				a, span
					background-color: #e4dbcf
					color: #322f2e
			&:first-child, &:last-child
				a, span
					@include border-radius(10px)
					background-color: #db4637
					color: #FFF
					&:hover
						@include border-radius(10px)
						background-color: #db4637
						color: #FFF

			a, span
				height: 19px
				line-height: 19px
				padding: 0 12px
				border: none
				@include border-radius(10px)
				background: transparent 
				font-size: 14px
				color: #A3988B
				+ub
	
	li.active
		a,span
			@include box-shadow(inset 0 0px  01px #eee8e0)
			background-color: #e4dbcf !important
			font-size: 14px
			color: #322f2e
			+ub

// building__infrastructure
.building__infrastructure
	margin-bottom: 30px
	padding: 3px
	background: #fff
.building__h2
	line-height: 1
	margin: 0 0 25px
	+u
	font-size: 26px
	color: #322F2E
	.sidebar__title
		padding-left: 20px
.building__map
	img
		width: 100%
	+border-radius(5px)
.building__labels
	margin-top: 20px
	padding-left: 20px
	+clr
	ul
		margin: 0
		margin-right: 20px
		float: left
		width: 160px
	li
		list-style: none

//slider
.building__gallery
	position: relative
	margin-bottom: 20px
	border: 1px solid #fff
	border-radius: 2px

.building__photo
	+clr
	.building__media
		text-align: center
		height: 430px
		img
			vertical-align: middle
			text-align: center
			width: 100%
			height: 100%
			display: block
.building__thumbs
	position: absolute
	bottom: 20px
	right: 20px
	left: 20px
	@include opacity(.8)
	@include border-radius(10px)
	background-color: #fff
	+clr
	+box
	text-align: center  

	.caro
		width: 84%
		height: 75px
		margin: 0 auto
		overflow: hidden
		position: relative
	ul
		margin: 8px 0 0
		position: absolute
		width: 20000em
		list-style: none
		li
			margin-right: 5px
			width: 75px
			height: 55px
			float: left
			cursor: pointer
			border: 2px solid transparent
			border-radius: 1px
			// @include opacity(1)
				width: 86px 
			&:hover, &.active
				border-color: #fff
				background-color: #fff
				// @include opacity(.55)
			&.active
				border: 2px solid #db4637
			img
				width: 100%
				height: 100%
				vertical-align: middle
.slide__arrow-prev, .slide__arrow-next
	position: absolute
	top: 31px
	left: 9px
	padding: 0 5px
	font-size: 12px
	color: #575653
	+box
	cursor: pointer
	+um
	&.disabled
		+opacity(.5)
.slide__arrow-next
	position: absolute
	left: auto
	right: 9px

// checkbox
.checkbox
	display: inline-block
	min-height: 40px
	color: #b8bcbf
	font-size: 14px
	cursor: pointer
	position: relative		
	input
		position: relative
		width: 15px
		height: 15px
		+opacity(0)
		z-index: 2
		cursor: pointer
	span
		position: relative
		top: 3px
		margin-left: 20px
		padding-left: 13px
		font-size: 14px
		+ub
		&:after
			content: ""
			position: absolute 
			top: -3px
			left: -20px
			+s(ico_school)
		&:before
			content: ""
			position: absolute
			+s(input_ico)
			left: -39px
			top: 5px
			line-height: 16px	
	input:checked + span
		color: #3a3c3e
		&:before
			content: ""
			+s(input_checked_ico)
	input:checked
		color: #ccc
	span.g-icon-hschool
		&:after 
			+s(ico_hschool)
	span.g-icon-hospital
		&:after
			+s(ico_hospital)
	span.g-icon-police
		&:after
			+s(ico_police)
	span.g-icon-fire 
		&:after	
			+s(ico_fire)
	span.g-icon-shops 
		&:after	
			+s(ico_shops)
	span.g-icon-restoraunt 
		&:after
			+s(ico_restoraunt)
	span.g-icon-market 
		&:after	
			+s(ico_market)
	span.g-icon-airports
		&:after
			+s(ico_airports)


