@charset "IBM866";
@font-face { font-family: "SegoeUIRegular"; src: url("../fonts/segoeui.eot"); src: local("☺"), url("../fonts/segoeui.woff") format("woff"), url("../fonts/segoeui.svg") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: "SegoeUIBold"; src: url("../fonts/segoeuib.eot"); src: local("☺"), url("../fonts/segoeuib.woff") format("woff"), url("../fonts/segoeuib.svg") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: "SegoeUIBoldItalic"; src: url("../fonts/segoeuibi.eot"); src: local("☺"), url("../fonts/segoeuibi.woff") format("woff"), url("../fonts/segoeuibi.svg") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: "SegoeUIItalic"; src: url("../fonts/segoeuii.eot"); src: local("☺"), url("../fonts/segoeuii.woff") format("woff"), url("../fonts/segoeuii.svg") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: "SegoeUILight"; src: url("../fonts/segoeuil.eot"); src: local("☺"), url("../fonts/segoeuil.woff") format("woff"), url("../fonts/segoeuil.svg") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: "SegoeUISemibold"; src: url("../fonts/seguisb.eot"); src: local("☺"), url("../fonts/seguisb.woff") format("woff"), url("../fonts/seguisb.svg") format("svg"); font-weight: normal; font-style: normal; }

* { margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
button::-moz-focus-inner { padding: 0; border: 0; }

input[type="submit"]::-moz-focus-inner { padding: 0; border: 0; }

a img, fieldset { border: none; }

ul { list-style: none; }

html, body { height: 100%; }

body { margin: 0; color: #333333; background-color: #f6f7f8; line-height: 20px; min-width: 980px; font-family: "Times New Roman", "Times CY", "Nimbus Roman No9 L", serif; font-weight: normal; font-size: 14px; }

.title { font-family: "SegoeUILight", Arial, sans-serif; font-size: 42px; margin-top: 0; margin-bottom: 0.5em; text-shadow: 0 1px 0 white; }

.title-2 { font-family: "SegoeUILight", Arial, sans-serif; font-size: 32px; text-shadow: 0 1px 0 white; }

.btn { font-family: "SegoeUIBold", Arial, sans-serif; }

.select { position: relative; height: 30px; line-height: 30px; color: #54595a; font-size: 12px; background-color: white; -webkit-box-shadow: 0 -1px 0 white, inset 0 1px 1px #b4bcbf; -moz-box-shadow: 0 -1px 0 white, inset 0 1px 1px #b4bcbf; box-shadow: 0 -1px 0 white, inset 0 1px 1px #b4bcbf; font-family: "SegoeUIRegular", Arial, sans-serif; }
.select.select_mod { float: left; width: 50%; }
.select:hover { cursor: pointer; }
.select span { display: block; padding: 0px 32px 0 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.select span em { font-style: normal; }
.select span i { position: absolute; right: 8px; top: 50%; margin-top: -8px; content: ""; background: url('../img/icons-s11c08cec69.png') 0 -529px no-repeat; width: 16px; height: 16px; }
.select.is-open span i { -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); }
.select.is-open .select__drop { display: block; }
.select .select__drop { display: none; position: absolute; top: 100%; z-index: 10; left: 0; width: 100%; background-color: white; -webkit-box-shadow: inset 0 0px 1px #b4bcbf; -moz-box-shadow: inset 0 0px 1px #b4bcbf; box-shadow: inset 0 0px 1px #b4bcbf; }
.select .select__drop ul { margin: 0; padding: 5px 0; }
.select .select__drop li { padding: 2px 10px; }
.select .select__drop li:hover { background-color: #cedee5; cursor: pointer; }
.select .select__drop li span { padding: 0; }

.out { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto; }

.header { text-align: center; padding: 30px 0; background-color: #4d9fc0; color: #f5f7f7; background-image: url(../img/bg.jpg); -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-position: center center; }
.header a { color: inherit; text-decoration: none; }
.header .header-i { position: relative; }
.header .header__logo { margin: 0; display: inline-block; margin: 0 0 40px; }
.header .header__logo-title { margin: 0; font-weight: normal; line-height: 1.2; font-family: "SegoeUILight", Arial, sans-serif; }
.header .header__logo-description { margin: 0; font-size: 11px; font-style: italic; font-weight: normal; line-height: 1.2; font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif; }
.header .header__contact { position: absolute; right: 0; top: 0; text-align: right; }
.header .header__tel { margin-bottom: 30px; color: white; font-size: 24px; font-family: "SegoeUILight", Arial, sans-serif; }
.header .search-title { text-transform: uppercase; font-weight: normal; margin-top: 15px; font-family: "SegoeUIRegular", Arial, sans-serif; font-size: 14px; }
.header .search-title strong { font-family: "SegoeUIBold", Arial, sans-serif; }

.menu { position: relative; text-transform: uppercase; margin: 0; padding-bottom: 55px; font-family: "SegoeUIBold", Arial, sans-serif; font-size: 13px; }
.menu:after { position: absolute; bottom: 0; left: 50%; margin-left: -88px; width: 176px; height: 1px; background-color: #3385ac; -webkit-box-shadow: 0 1px 1px #6ab4d2; -moz-box-shadow: 0 1px 1px #6ab4d2; box-shadow: 0 1px 1px #6ab4d2; content: ""; }
.menu ul { margin-bottom: 0; }
.menu li { display: inline-block; margin: 0 20px; }
.menu li.is-active a, .menu li:hover a { color: #191919; text-shadow: 0 0 0; }
.menu a { text-decoration: none; text-shadow: 0 1px 0 #5b816b; }

.menu_secondary { margin-bottom: 17px; }
.menu_secondary ul { *zoom: 1; }
.menu_secondary ul:before, .menu_secondary ul:after { content: ""; display: table; }
.menu_secondary ul:after { clear: both; }
.menu_secondary li { float: left; display: inline-block; margin-left: 20px; font-family: "SegoeUIRegular", Arial, sans-serif; font-size: 10px; }
.menu_secondary li a { color: #ffcac3; }
.menu_secondary li a:hover { color: #f5d7af; font-family: "SegoeUIBold", Arial, sans-serif; }

.social-accounts { text-align: right; }
.social-accounts .social-accounts__item { display: inline-block; vertical-align: top; margin-left: 15px; font: 0/0 a; text-shadow: none; color: transparent; }
.social-accounts .social-accounts__item a { display: block; height: 100%; }
.social-accounts .social-accounts__item.social-accounts__item_tw { background: url('../img/icons-s11c08cec69.png') 0 -422px no-repeat; width: 24px; height: 17px; }
.social-accounts .social-accounts__item.social-accounts__item_fb { background: url('../img/icons-s11c08cec69.png') 0 -718px no-repeat; width: 7px; height: 17px; }
.social-accounts .social-accounts__item.social-accounts__item_gp { background: url('../img/icons-s11c08cec69.png') 0 -475px no-repeat; width: 10px; height: 17px; }
.social-accounts.social-accounts_footer .social-accounts__item.social-accounts__item_tw { background: url('../img/icons-s11c08cec69.png') 0 -395px no-repeat; width: 24px; height: 17px; }
.social-accounts.social-accounts_footer .social-accounts__item.social-accounts__item_fb { background: url('../img/icons-s11c08cec69.png') 0 -745px no-repeat; width: 7px; height: 17px; }
.social-accounts.social-accounts_footer .social-accounts__item.social-accounts__item_gp { background: url('../img/icons-s11c08cec69.png') 0 -502px no-repeat; width: 10px; height: 17px; }

.footer { font-size: 12px; }
.footer input { border: 1px solid #c7cccf; background-color: white; }
.footer .footer__top { border-top: 3px solid #dee0e1; background-color: white; -webkit-box-shadow: 0 1px 1px #c8cdcf; -moz-box-shadow: 0 1px 1px #c8cdcf; box-shadow: 0 1px 1px #c8cdcf; padding: 30px 0 45px; font-family: "SegoeUIRegular", Arial, sans-serif; }
.footer .footer__address ul { margin-left: -35px; }
.footer .footer__address .footer__address-item { display: inline-block; margin-left: 35px; color: #191919; }
.footer .footer__address .footer__address-item a { color: inherit; text-decoration: underline; }
.footer .footer__address .footer__address-item a:hover { text-decoration: none; }
.footer .footer__address em { display: block; font-weight: normal; font-style: normal; font-size: 11px; color: #999999; }
.footer .footer-i { padding: 25px 0 20px; }
.footer .footer__menu { position: relative; text-transform: none; text-align: right; padding: 0; font-family: "SegoeUIRegular", Arial, sans-serif; }
.footer .footer__menu:after { content: none; }
.footer .footer__menu li { margin: 0 0 0 20px; }
.footer .footer__menu li:first-child { margin-left: 0; }
.footer .footer__menu li a { color: #999999; text-decoration: none; text-shadow: 0 0 0; }
.footer .footer__menu li a:hover { text-decoration: underline; }
.footer .footer__logo { margin-top: -6px; text-align: right; font: 0/0 a; text-shadow: none; color: transparent; }
.footer .footer__logo a { display: inline-block; vertical-align: top; background: url('../img/icons-s11c08cec69.png') 0 0 no-repeat; width: 82px; height: 29px; }
.footer .footer__request input { margin-bottom: 0; }

.search-toolbar { position: relative; color: #77878d; background-color: white; -webkit-box-shadow: 0 1px 1px #c8cdcf; -moz-box-shadow: 0 1px 1px #c8cdcf; box-shadow: 0 1px 1px #c8cdcf; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #e5f1f5), color-stop(100%, #ffffff)); background-image: -webkit-linear-gradient(bottom, #e5f1f5 0%, #ffffff 100%); background-image: -moz-linear-gradient(bottom, #e5f1f5 0%, #ffffff 100%); background-image: -o-linear-gradient(bottom, #e5f1f5 0%, #ffffff 100%); background-image: linear-gradient(bottom, #e5f1f5 0%, #ffffff 100%); z-index: 100; }
.search-toolbar .search-toolbar-i { padding: 17px 0 20px; }
.search-toolbar .search-toolbar__title { color: #6e7f85; font-size: 12px; font-family: "SegoeUISemibold", Arial, sans-serif; }
.search-toolbar .search-toolbar__btn { position: relative; }
.search-toolbar .search-toolbar__btn .btn { margin-top: 20px; }

.sort { margin-bottom: 20px; }
.sort .sort__title { display: inline-block; vertical-align: top; color: #6e7f85; font-size: 12px; font-family: "SegoeUISemibold", Arial, sans-serif; line-height: 30px; height: 30px; margin-right: 10px; }
.sort .select { display: inline-block; vertical-align: top; width: 230px; }

.carousel { position: relative; z-index: 12; overflow: hidden; padding-bottom: 36px; }
.carousel .carousel-inner { overflow: visible; }
.carousel .carousel-inner .item .carousel__pic { height: 420px; overflow: hidden; }
.carousel .carousel-inner .item .carousel__pic img { max-width: 100%; min-height: 100%; display: block; margin: 0 auto; }
.carousel .carousel-indicators { position: absolute; bottom: 15px; width: 100%; text-align: center; }
.carousel .carousel-indicators li { float: none; display: inline-block; width: 10px; height: 10px; margin: 0 2px; text-indent: -999px; background: none; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; border: 1px solid #939393; }
.carousel .carousel-indicators li.active { background-color: white; border: 1px solid transparent; }
.carousel .carousel-indicators li:hover { cursor: pointer; }
.carousel.carousel_mod .carousel-caption { left: 50px; margin-left: 0; }
.carousel.carousel_mod .carousel-indicators { position: absolute; bottom: 15px; left: 140px; width: 140px; }
.carousel.carousel_mod .carousel__agent { display: block; position: absolute; right: 0; top: 0; bottom: 36px; background-color: #1a1a1a; color: #f5f7f7; font-size: 14px; text-align: center; padding-top: 20px; padding-bottom: 5px; }
.carousel .carousel__agent { display: none; }
.carousel .carousel__agent .carousel__agent-title { color: #d89f51; font-size: 20px; margin-bottom: 20px; font-family: "SegoeUIBold", Arial, sans-serif; }
.carousel .carousel__agent .carousel__agent-pic { margin-bottom: 15px; height: 140px; overflow: hidden; }
.carousel .carousel__agent .carousel__agent-pic img { min-width: 100%; min-height: 140px; }
.carousel .carousel__agent .carousel__agent-text { margin-bottom: 25px; padding: 0 18px; line-height: 1.4; }
.carousel .carousel-caption { position: absolute; left: 50%; margin-left: -160px; bottom: -36px; height: 320px; width: 320px; padding: 50px 10px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background: #333333; background: rgba(25, 25, 25, 0.9); text-align: center; }
.carousel .carousel-caption__params { margin-bottom: 25px; font-family: Arial; font-size: 12px; }
.carousel .carousel-caption__params table { width: 100%; }
.carousel .carousel-caption__params table td { padding-left: 10px; color: #f0f4f5; text-align: left; padding-bottom: 10px; vertical-align: top; }
.carousel .carousel-caption__params table td:first-child { width: 46%; padding: 0; color: #a3a5a6; text-align: right; }
.carousel .carousel-caption__title { font-weight: normal; color: white; font-size: 22px; margin-bottom: 15px; }
.carousel .carousel-caption__price { color: #64a7bf; font-size: 32px; margin-bottom: 20px; }
.carousel .carousel-caption__btn { color: #e65c49; text-transform: uppercase; font-weight: bold; font-size: 14px; text-decoration: underline; }
.carousel .carousel-caption__btn:hover { text-decoration: none; }

.hero { margin-bottom: 35px; }
.hero ul { margin-bottom: 0; }
.hero p { margin-bottom: 25px; }

.popular-links { background-color: #d99f51; padding: 20px; margin-top: 35px; margin-bottom: 50px; font-size: 13px; font-family: "SegoeUIRegular", Arial, sans-serif; }
.popular-links .popular-links__title { display: inline-block; vertical-align: top; color: white; font-size: 42px; font-weight: normal; float: left; margin: 0; margin-right: 65px; font-family: "SegoeUILight", Arial, sans-serif; }
.popular-links .popular-links__list { display: inline-block; vertical-align: top; *zoom: 1; margin-left: 0; margin-bottom: 0; font-size: 0; }
.popular-links .popular-links__list:before, .popular-links .popular-links__list:after { content: ""; display: table; }
.popular-links .popular-links__list:after { clear: both; }
.popular-links .popular-links__list li { font-size: 13px; display: inline-block; vertical-align: top; width: 25%; color: #191919; padding-right: 5px; }
.popular-links .popular-links__list li a { color: inherit; text-decoration: underline; }
.popular-links .popular-links__list li a:hover { text-decoration: none; }
.popular-links .popular-linls__all { display: inline-block; vertical-align: top; color: white; text-decoration: underline; }
.popular-links .popular-linls__all:hover { text-decoration: none; }

.sale { display: none; position: absolute; top: 50%; left: 50%; margin-left: -42px; margin-top: -42px; width: 84px; height: 84px; line-height: 84px; text-align: center; text-transform: uppercase; font-size: 12px; font-weight: bold; color: #f5f7f7; opacity: 0.9; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background-color: #e55d4b; font-family: "SegoeUIBold", Arial, sans-serif; }

.catalog { margin-bottom: 50px; }
.catalog.catalog_mod .catalog__list .catalog__item { margin-left: 0; }
.catalog.catalog_mod .catalog__list .catalog__item .sale { display: none; position: absolute; top: 50%; left: 50%; margin-left: -42px; margin-top: -42px; }
.catalog.catalog_mod .catalog__list .catalog__item.is-sale .sale { z-index: 11; display: block; }
.catalog.catalog_mod .catalog__list .catalog__item.is-sale.catalog__item:before { display: none; }
.catalog.catalog_mod .catalog__list .catalog__item.is-sale.catalog__item .catalog__image:before { position: absolute; left: -50%; top: 50%; width: 200%; z-index: 10; background: #d35b49; height: 3px; content: ""; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); }
.catalog.catalog_mod .catalog__list .catalog__item.is-sale.catalog__item:hover .sale { display: none; }
.catalog.catalog_mod .catalog__list .catalog__item.is-sale.catalog__item:hover .catalog__image { opacity: 1; }
.catalog.catalog_mod .catalog__list .catalog__item.is-sale.catalog__item:hover .catalog__image:before { display: none; }
.catalog.catalog_mod .catalog__list .catalog__item.is-sale.catalog__item:hover.catalog__item { overflow: hidden; }
.catalog.catalog_mod .catalog__list .catalog__item.is-sale.catalog__item:hover.catalog__item:before { content: none; }
.catalog.catalog_mod .catalog__list .catalog__caption-title { font-size: 24px; font-family: "SegoeUIRegular", Arial, sans-serif; }
.catalog.catalog_mod .catalog__list .catalog__image { position: relative; float: left; width: 230px; overflow: hidden; }
.catalog.catalog_mod .catalog__list .catalog__image img { max-width: 230px; }
.catalog.catalog_mod .catalog__list .catalog__caption { overflow: hidden; padding: 20px 10px 20px 40px; }
.catalog .catalog__list { margin-bottom: 0; margin-left: 0; }
.catalog .catalog__list .catalog__item { background-color: #1a1a1a; position: relative; margin-bottom: 20px; }
.catalog .catalog__list .catalog__item.is-sale .sale { z-index: 11; display: block; opacity: 1; }
.catalog .catalog__list .catalog__item.is-sale .catalog__image img { opacity: 0.5; }
.catalog .catalog__list .catalog__item.is-sale.catalog__item { overflow: hidden; }
.catalog .catalog__list .catalog__item.is-sale.catalog__item:before { position: absolute; left: -50%; top: 50%; width: 200%; z-index: 10; background: #d35b49; height: 3px; content: ""; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); }
.catalog .catalog__list .catalog__item.is-sale:hover .sale { display: none; }
.catalog .catalog__list .catalog__item.is-sale:hover .catalog__image img { opacity: 1; }
.catalog .catalog__list .catalog__item.is-sale:hover.catalog__item { overflow: hidden; }
.catalog .catalog__list .catalog__item.is-sale:hover.catalog__item:before { content: none; }
.catalog .catalog__list .catalog__image { height: 210px; overflow: hidden; }
.catalog .catalog__list .catalog__image img { display: block; min-width: 100%; margin-right: auto; margin-left: auto; }
.catalog .catalog__list .catalog__caption { font-family: "SegoeUIBold", Arial, sans-serif; padding: 20px 10px; color: #f5f7f7; font-size: 12px; }
.catalog .catalog__list .catalog__caption-title { font-size: 16px; margin-bottom: 0.3em; }
.catalog .catalog__list .catalog__caption-title a { color: inherit; text-decoration: none; }
.catalog .catalog__list .catalog__caption-title a:hover { text-decoration: underline; }
.catalog .catalog__list .catalog__caption-price { color: #65a7bf; font-weight: bold; font-size: 14px; margin-bottom: 0.2em; }
.catalog .catalog__list .catalog__caption-params { font-family: "SegoeUIRegular", Arial, sans-serif; }
.catalog .catalog__list .catalog__caption-params table td { padding-left: 5px; font-size: 12px; }
.catalog .catalog__list .catalog__caption-params table td:first-child { width: 46%; padding: 0; color: #999999; }
.catalog .catalog__list .catalog__caption-buttons { margin-top: 1em; }
.catalog .catalog__list .catalog__caption-buttons .btn { margin-left: 8px; }
.catalog .catalog__list .catalog__caption-buttons .btn:first-child { margin-left: 0; }

.topper { margin-bottom: 25px; }
.topper .topper-i { position: relative; }
.topper .topper-i .page-info { position: absolute; bottom: -33px; right: 0; }
.topper .title { margin-top: 1em; margin-bottom: 0.5em; }

.page-info { color: #191919; font-family: "SegoeUIBold", Arial, sans-serif; font-size: 11px; *zoom: 1; }
.page-info:before, .page-info:after { content: ""; display: table; }
.page-info:after { clear: both; }
.page-info div { display: inline-block; margin-left: 15px; }
.page-info div:first-child { margin-left: 0; }

.tabs { border-bottom: 3px solid #e55d4b; margin-top: 0.5em; }
.tabs .nav-tabs { margin-bottom: 0; }
.tabs .nav-tabs li { margin-bottom: 0; line-height: 30px; margin-left: 10px; text-align: center; }
.tabs .nav-tabs li:first-child { margin-left: 0; }
.tabs .nav-tabs li.active a { background-color: #e55d4b; color: #f5f7f7; }
.tabs .nav-tabs li.active a:hover { border: none; }
.tabs .nav-tabs li a { padding: 0 20px; line-height: 30px; min-width: 130px; border: 1px solid transparent; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; text-transform: uppercase; font-family: "SegoeUIBold", Arial, sans-serif; font-size: 12px; color: #81878b; background-color: #dbe1e5; border: none; margin-right: 0; }

.map { background-color: white; -webkit-box-shadow: 0 1px 1px #c8cdcf; -moz-box-shadow: 0 1px 1px #c8cdcf; box-shadow: 0 1px 1px #c8cdcf; padding: 5px; margin-bottom: 20px; }
.map .map__picture img { width: 100%; }
.map .map__labels { margin-top: 20px; padding-left: 20px; font-family: "SegoeUISemibold", Arial, sans-serif; font-size: 14px; *zoom: 1; }
.map .map__labels:before, .map .map__labels:after { content: ""; display: table; }
.map .map__labels:after { clear: both; }
.map .map__labels ul { margin: 0; margin-right: 20px; float: left; width: 160px; }
.map .map__labels li { list-style: none; }
.map .checkbox { display: inline-block; min-height: 40px; color: #b8bcbf; font-size: 14px; cursor: pointer; position: relative; }
.map .checkbox input { position: relative; width: 15px; height: 15px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; z-index: 2; cursor: pointer; }
.map .checkbox span { position: relative; top: 3px; margin-left: 20px; padding-left: 13px; }
.map .checkbox span:after { content: ""; position: absolute; top: -3px; left: -20px; background: url('../img/icons-s11c08cec69.png') 0 -209px no-repeat; width: 24px; height: 24px; }
.map .checkbox span:before { content: ""; position: absolute; background: url('../img/icons-s11c08cec69.png') 0 -658px no-repeat; width: 9px; height: 7px; left: -39px; top: 5px; line-height: 16px; }
.map .checkbox input:checked + span { color: #3a3c3e; }
.map .checkbox input:checked + span:before { content: ""; background: url('../img/icons-s11c08cec69.png') 0 -701px no-repeat; width: 9px; height: 7px; }
.map .checkbox input:checked { color: #cccccc; }
.map .checkbox span.g-icon-hschool:after { background: url('../img/icons-s11c08cec69.png') 0 -73px no-repeat; width: 24px; height: 24px; }
.map .checkbox span.g-icon-hospital:after { background: url('../img/icons-s11c08cec69.png') 0 -311px no-repeat; width: 24px; height: 24px; }
.map .checkbox span.g-icon-police:after { background: url('../img/icons-s11c08cec69.png') 0 -243px no-repeat; width: 24px; height: 24px; }
.map .checkbox span.g-icon-fire:after { background: url('../img/icons-s11c08cec69.png') 0 -141px no-repeat; width: 24px; height: 24px; }
.map .checkbox span.g-icon-shops:after { background: url('../img/icons-s11c08cec69.png') 0 -277px no-repeat; width: 24px; height: 24px; }
.map .checkbox span.g-icon-restoraunt:after { background: url('../img/icons-s11c08cec69.png') 0 -39px no-repeat; width: 24px; height: 24px; }
.map .checkbox span.g-icon-market:after { background: url('../img/icons-s11c08cec69.png') 0 -175px no-repeat; width: 24px; height: 24px; }
.map .checkbox span.g-icon-airports:after { background: url('../img/icons-s11c08cec69.png') 0 -107px no-repeat; width: 24px; height: 24px; }

.search { margin-top: 49px; }
.search .search__btn { margin-bottom: 24px; }
.search .search__row { margin-bottom: 24px; border-bottom: 1px solid #616161; *zoom: 1; }
.search .search__row:before, .search .search__row:after { content: ""; display: table; }
.search .search__row:after { clear: both; }
.search .search__row.is-last { border-bottom: 0; }
.search .search__row .search__label { display: block; position: relative; line-height: 1; font-family: "SegoeUIBold", Arial, sans-serif; font-size: 12px; color: #e55d4b; text-align: right; text-transform: uppercase; margin-bottom: 9px; margin-top: 2px; }
.search .search__row .search__label:before { position: absolute; top: 50%; margin-top: -8px; left: 0; content: ""; background: url('../img/icons-s11c08cec69.png') 0 -449px no-repeat; width: 16px; height: 16px; }
.search .search__row .search__select { -webkit-box-shadow: 0 0 0 white, inset 0 0 0 #b4bcbf; -moz-box-shadow: 0 0 0 white, inset 0 0 0 #b4bcbf; box-shadow: 0 0 0 white, inset 0 0 0 #b4bcbf; border: 0; }
.search .search__row .search__select.select_mod { width: 48%; }
.search .search__row .search__select.select_mod:last-child { float: right; }
.search .search__row .search__select span i { position: absolute; right: 8px; top: 50%; margin-top: -3px; content: ""; background: url('../img/icons-s11c08cec69.png') 0 -772px no-repeat; width: 8px; height: 6px; }
.search .search__row .search__select.is-open span i { -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); }
.search .search__radio { position: relative; font-family: "SegoeUISemibold", Arial, sans-serif; font-size: 12px; color: #757779; line-height: 16px; margin-bottom: 10px; }
.search .search__radio input { position: absolute; top: 0; left: 0; margin: 0; z-index: 1; opacity: 0; }
.search .search__radio span { padding-left: 24px; }
.search .search__radio span:before { position: absolute; top: 0; left: 0; content: ""; background: url('../img/icons-s11c08cec69.png') 0 -370px no-repeat; width: 14px; height: 15px; }
.search .search__radio input:checked + span:before { background: url('../img/icons-s11c08cec69.png') 0 -345px no-repeat; width: 14px; height: 15px; }
.search .search__checkbox { position: relative; font-family: "SegoeUISemibold", Arial, sans-serif; font-size: 12px; color: #757779; line-height: 16px; margin-bottom: 10px; }
.search .search__checkbox input { position: absolute; top: 0; left: 0; margin: 0; z-index: 1; opacity: 0; }
.search .search__checkbox span { padding-left: 24px; }
.search .search__checkbox span:before { position: absolute; top: 0; left: 0; content: ""; background: url('../img/icons-s11c08cec69.png') 0 -788px no-repeat; width: 14px; height: 15px; }
.search .search__checkbox input:checked + span:before { background: url('../img/icons-s11c08cec69.png') 0 -633px no-repeat; width: 14px; height: 15px; }

.paginator ul { margin: 0 10px; padding: 0 20px; text-align: center; position: relative; }
.paginator li { display: inline-block; vertical-align: top; line-height: 43px; font-family: "SegoeUILight", Arial, sans-serif; font-size: 24px; color: #191919; text-shadow: 0 1px 0 white; width: 45px; height: 45px; text-align: center; }
.paginator li.is-active a, .paginator li:hover a { border: 1px solid #81878b; -webkit-border-radius: 22px; -moz-border-radius: 22px; -ms-border-radius: 22px; -o-border-radius: 22px; border-radius: 22px; }
.paginator li a { display: block; width: 100%; height: 100%; color: #191919; text-decoration: none; border: 1px solid transparent; }
.paginator li a:hover { text-decoration: none; }
.paginator li.paginator__nav { display: inline-block; vertical-align: top; border: 0; position: absolute; top: 50%; margin-top: -8px; font: 0/0 a; text-shadow: none; color: transparent; }
.paginator li.paginator__nav:hover { border: 0; }
.paginator li.paginator__nav.paginator__left { left: 0; background: url('../img/icons-s11c08cec69.png') 0 -581px no-repeat; width: 16px; height: 16px; }
.paginator li.paginator__nav.paginator__right { right: 0; background: url('../img/icons-s11c08cec69.png') 0 -555px no-repeat; width: 16px; height: 16px; }

.sidebar .catalog { margin-bottom: 0; }

.contact-agent { color: #191919; font-size: 16px; margin-bottom: 40px; }
.contact-agent .contact-agent__title { margin-top: -3px; line-height: 1; margin-bottom: 33px; }
.contact-agent .contact-agent__name { font-family: "SegoeUIBold", Arial, sans-serif; font-size: 20px; margin-bottom: 8px; }
.contact-agent .contact-agent__tel { font-family: "SegoeUISemibold", Arial, sans-serif; margin-bottom: 8px; color: inherit; text-decoration: none; }
.contact-agent .contact-agent__tel:hover { text-decoration: underline; }
.contact-agent .contact-agent__rating { margin-bottom: 8px; }
.contact-agent .contact-agent__userpic { height: 140px; overflow: hidden; margin-bottom: 8px; }
.contact-agent .contact-agent__userpic img { min-width: 100%; }
.contact-agent .contact-agent__feedback input, .contact-agent .contact-agent__feedback textarea { width: 100%; font-family: "SegoeUIRegular", Arial, sans-serif; font-size: 12px; color: #54595a; }
.contact-agent .contact-agent__feedback input:-moz-placeholder, .contact-agent .contact-agent__feedback textarea:-moz-placeholder { color: #54595a; }
.contact-agent .contact-agent__feedback input::-webkit-input-placeholder, .contact-agent .contact-agent__feedback textarea::-webkit-input-placeholder { color: #54595a; }
.contact-agent .contact-agent__feedback input:focus:-moz-placeholder, .contact-agent .contact-agent__feedback textarea:focus:-moz-placeholder { color: white; }
.contact-agent .contact-agent__feedback input:focus::-webkit-input-placeholder, .contact-agent .contact-agent__feedback textarea:focus::-webkit-input-placeholder { color: white; }
.contact-agent .contact-agent__feedback textarea { resize: none; min-height: 110px; }

.icon-calc { background: url('../img/icons-s11c08cec69.png') 0 -607px no-repeat; width: 16px; height: 16px; margin-right: 23px; margin-top: 2px; }

.project { margin-bottom: 40px; }
.project .project__mounthly-btn { margin-bottom: 20px; }
.project .project__pic { height: 500px; overflow: hidden; margin-top: 20px; margin-bottom: 10px; }
.project .project__pic img { width: 100%; }
.project .project__info { margin-top: 10px; background-color: #282828; color: #f5f7f7; font-size: 14px; -webkit-box-shadow: 0 1px 1px #c8cdcf; -moz-box-shadow: 0 1px 1px #c8cdcf; box-shadow: 0 1px 1px #c8cdcf; padding: 20px 20px 40px; }
.project .project__price { position: relative; text-align: center; color: #2cbcf2; font-size: 46px; padding-bottom: 15px; line-height: 1; margin-bottom: 15px; }
.project .project__price:after { position: absolute; bottom: 0; left: 50%; margin-left: -87px; width: 175px; height: 2px; content: ""; background: #484848; border-top: 1px solid black; }
.project .project__params table { margin-bottom: 15px; }
.project .project__params table td { padding-left: 5px; font-size: 12px; color: #d89f51; font-size: 12px; font-family: "SegoeUIRegular", Arial, sans-serif; }
.project .project__params table td:first-child { width: 46%; padding: 0; opacity: 0.5; }

.l-sidebar { margin-bottom: 50px; }

.l-main { margin-bottom: 50px; }
