@import lib/base

// Styles

// .span12		1070px
// .span11		980px
// .span10		890px
// .span9		800px
// .span8		710px
// .span7		620px
// .span6		530px
// .span5		440px
// .span4		350px
// .span3		260px
// .span2		170px
// .span1		80px

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container
  width: 1070px

.g-menu
  a
    color: #34373f
    font-size: 12px
    font-weight: bold
    +text-shadow(0 1px 0 white)
    text-decoration: none
    &:hover
      text-decoration: underline
  ul
    margin: 0
    list-style: none
  li
    float: left
    margin-right: 20px

.page
  margin-top: 30px
  margin-bottom: 20px
  .h1
    color: #393d3d
    font-size: 26px
    font-weight: bold
    display: inline-block

.page__sidebar-nav
  ul
    margin: 0 0 10px 0
    padding: 10px 0
    background: #e3e8ea
    +border-radius(5px)
  li
    position: relative
    list-style: none
    list-style-position: inside
    cursor: pointer
    border-top: 1px solid transparent
    border-bottom: 1px solid transparent
    padding: 5px 0 5px 30px
    &:before
      +sized-sprite($icons, page_nav_li)
      position: absolute
      top: 14px
      left: 15px
      content: ""
    &:hover
      background: #f0f4f5
      border-top: 1px solid #d6dee2
      border-bottom: 1px solid #d6dee2
      +box-shadow(0 1px white, inset 0 1px white)
      &:before
        +sized-sprite($icons, page_nav_lih)
        position: absolute
        top: 14px
        left: 15px
        content: ""
      a
        color: #0d77ae
        &:hover
          text-decoration: none
          color: #0d77ae
  a
    text-decoration: none
    color: #393d3e
    width: 100%
    display: inline-block
    font-size: 12px
  .link-orange
    color: #ffa100
    text-align: right
    margin-bottom: 10px

.link-orange
  color: #ffa100
  font-size: 14px

.properties
  .h1
    color: #0d76ad
    font-size: 16px
    font-weight: bold
    a
      color: #0d76ad
      font-size: 16px
      font-weight: bold
      text-decoration: none
      &:hover
        text-decoration: underline
  table
    margin-bottom: 10px
    td
      color: #393d3d
      font-size: 14px
      font-weight: bold
      &:first-child
        width: 75px
        color: #818587
        font-size: 12px
        font-weight: normal
  .properties__topper
    margin-left: 10px
    .h1
      float: left
      width: 250px
      color: #393d3d
      font-size: 26px
      font-weight: bold
      display: inline-block
    .properties__nav
      float: left
      width: 100px
      margin-left: 10px
      padding-top: 20px
      .properties__nav-prev
        +sized-sprite($icons, pag_prev)
        display: inline-block
        margin-right: 2px
        cursor: pointer
        content: ""
      .properties__nav-next
        +sized-sprite($icons, pag_next)
        display: inline-block
        cursor: pointer
        content: ""
    .properties__link
      float: right
      text-align: right
      padding-top: 20px
      a
        color: #b3423d

.properties__item
  margin-bottom: 25px

.properties__image
  position: relative
  border: 1px solid #b0b5b7
  +border-radius(3px)
  +background-clip(padding-box)
  background-color: #fff
  padding: 2px
  height: 155px
  img
    height: 100%
    width: 100%

.properties__price
  color: #818587
  font-size: 16px
  font-weight: bold

.contactagent
  padding: 20px
  +border-radius(5px)
  background-color: #34383a
  font-size: 18px
  color: #fff
  margin-bottom: 30px
  .h1
    color: #e3e7e9
    font-size: 18px
    font-weight: normal
    margin-top: 0
    margin-bottom: 20px
    line-height: 1
  select,
  textarea,
  input,
  .uneditable-input
    padding: 4px 2%
    width: 96%
  form
    margin-bottom: 0

.contactagent__info
  overflow: hidden
  margin-bottom: 20px

.contactagent__image
  float: left
  width: 100px
  height: 100px
  margin-right: 10px
  padding: 2px
  background-color: #fff
  img
    width: 100%

.contactagent__text
  overflow: hidden

.contactagent__name
  color: #ff9d00
  font-size: 22px
  font-weight: bold
  line-height: 1
  margin: 0 0 10px 0

.contactagent__tel
  margin-bottom: 5px

.contactagent__stars
  ul
    margin-left: 0
  li
    display: inline-block
    a
      display: inline-block
      +sized-sprite($icons, star)
    &.active
      a
        display: inline-block
        +sized-sprite($icons, star_active)

.similar
  background: #e3e8ea
  +border-radius(5px)
  padding: 10px 0
  margin-bottom: 20px
  .h1
    color: #393d3e
    font-size: 26px
    text-align: center
    font-weight: normal
    display: block
  .link-red
    margin: 10px 20px

.similar__item
  @extend %clr
  padding: 10px 20px
  margin-bottom: 10px
  +box-shadow(0 1px #d6dee2, 0 2px #f8fafb)

.similar__image
  float: left
  margin-right: 10px
  width: 115px
  height: 80px
  padding: 1px
  border: 1px solid #b1b5b7
  img
    width: 100%
    height: 100%

.similar__info
  overflow: hidden
  table
    td
      color: #393d3d
      font-size: 14px
      font-weight: bold
      &:first-child
        width: 70px
        color: #818587
        font-size: 12px
        font-weight: normal

.similar__price
  color: #828587
  font-size: 16px
  font-weight: bold

.similar__heading
  font-size: 14px
  color: #0e77ae
  a
    font-size: 14px
    color: #0e77ae
    text-decoration: none
    &:hover
      text-decoration: underline

.link-red
  color: #b3413d
  font-size: 14px
  font-style: italic
  &:hover
    color: #b3413d

.building
  .h1
    color: #0e77ae
    font-size: 26px
    font-weight: normal
    margin-top: 0
    line-height: 1

.building__topper
  position: relative

.building__nav

.building__payment
  position: absolute
  top: 0
  right: 0
  +border-radius(3px)
  background-color: #5391b1
  +box-shadow(0 1px 0 #1f5674)
  color: #fff
  font-size: 14px
  +text-shadow(0 1px 0 rgba(34, 67, 85, 0.75))
  height: 30px
  line-height: 30px
  a
    color: #fff
    text-decoration: none
    display: block
    padding: 0 10px
    &:hover
      text-decoration: none
  i
    +sized-sprite($icons, ico_payment)
    margin-right: 5px

.building__text
  color: #818586
  font-size: 14px
  +text-shadow(0 1px 0 white)

.building__infrastructure
  margin-top: 20px
  .h1
    font-size: 26px
    color: #393d3e

.building__info
  @extend %clr
  margin-bottom: 20px

.building__gallery
  width: 405px
  margin-right: 20px
  float: left
  position: relative

.building__param
  float: left
  .building__param-price
    font-size: 22px
    display: block
    width: 100%
    margin: 0
    margin-bottom: 10px
  ul
    margin: 0
    margin-bottom: 10px
  li
    list-style: none
  dl
    @extend %clr
    margin: 0
  dt
    float: left
    width: 75px
    color: #818587
    font-size: 12px
    font-weight: normal
  dd
    overflow: hidden
    color: #393d3d
    font-size: 14px
    font-weight: bold

.building__map
  img
    width: 100%
  +border-radius(5px)

.building__labels
  margin-top: 20px
  ul
    margin: 0
    margin-right: 20px
    float: left
    width: 160px
  li
    list-style: none
  input
    width: 15px
    height: 15px
    opacity: 0
    position: relative
    z-index: 2
    cursor: pointer
  input:checked + i.icon-ckeckbox-arrow
    +sized-sprite($icons, input_checked_ico)
  input:checked
    color: #ccc
  .icon-ckeckbox-arrow
    position: absolute
    +sized-sprite($icons, input_ico)
    left: 0
    top: 2px
    line-height: 16px
  .building__icons
    margin-top: -5px
    margin-right: 5px
    display: inline-block
    vertical-align: middle
  .g-icon-school
    +sized-sprite($icons, ico_school)
  .g-icon-hschool
    +sized-sprite($icons, ico_hschool)
  .g-icon-hospital
    +sized-sprite($icons, ico_hospital)
  .g-icon-police
    +sized-sprite($icons, ico_police)
  .g-icon-fire
    +sized-sprite($icons, ico_fire)
  .g-icon-shops
    +sized-sprite($icons, ico_shops)
  .g-icon-restoraunt
    +sized-sprite($icons, ico_restoraunt)
  .g-icon-market
    +sized-sprite($icons, ico_market)
  .g-icon-airports
    +sized-sprite($icons, ico_airports)
  .checkbox
    display: inline-block
    color: #3a3c3e
    font-size: 14px
    cursor: pointer
    position: relative

.refine
  +border-radius(5px)
  background-color: #e3e8ea
  color: #3a3c3e

.refine__item
  +box-shadow(0 1px #d6dee2, 0 2px #f8fafb)
  padding: 15px 20px
  select
    margin-bottom: 0
  .h1
    position: relative
    display: block
    font-size: 16px
    margin: 0
    margin-bottom: 10px
    line-height: 1
    &:after
      +sized-sprite($icons, ico_blackarrow)
      position: absolute
      top: 6px
      right: 18px
      content: ""

.refine__long
  width: 98%

.refine__short
  width: 48%

.refine__btn
  padding: 20px 0 20px
  text-align: center
  .g-btn
    width: 80%

.buildlist
  .h1
    color: #393d3d
    font-size: 26px
    margin: 0
    margin-bottom: 20px
    line-height: 1

.buildlist__item
  margin-bottom: 20px

.buildlist__meta
  margin-bottom: 10px

.buildlist__count
  color: #393d3e
  font-size: 14px
  margin-right: 15px
  span
    color: #b3433d

.buildlist__showing-page
  color: #818587
  font-size: 14px
  strong
    color: #393d3e

.buildlist__topper
  @extend %clr
  margin-bottom: 10px

.buildlist__nav
  float: left
  width: 50%

.buildlist__sort
  float: right
  width: 230px
  text-align: right

.buildlist__price
  color: #818587
  font-size: 16px
  font-weight: bold
  margin-bottom: 5px

.buildlist__media
  position: relative
  float: left
  border: 1px solid #b0b5b7
  +border-radius(3px)
  +background-clip(padding-box)
  background-color: #fff
  padding: 2px
  height: 157px
  width: 224px
  margin-right: 20px
  img
    height: 100%
    width: 100%

.label-sold
  +sized-sprite($icons, label_sold)
  position: absolute
  top: -1px
  right: -1px
  content: ""

.buildlist__title
  color: #0d76ad
  font-size: 16px
  font-weight: bold
  margin-bottom: 5px
  a
    color: #0d76ad
    font-size: 16px
    font-weight: bold
    text-decoration: none
    &:hover
      text-decoration: underline

.buildlist__params
  @extend %clr
  margin-bottom: 10px
  overflow: hidden
  ul
    float: left
    margin-left: 0
    margin-right: 30px
    margin-bottom: 0
  li
    list-style: none
    @extend %clr
  dt,dd
    float: left
  dt
    width: 90px
    color: #818587
    font-size: 12px
    font-weight: normal
  dd
    color: #393d3d
    font-size: 14px
    font-weight: bold

.buildlist__buttons
  @extend %clr

.g-pagination
  position: relative
  margin: 60px 0
  .inactive
    +opacity(0.8)
    cursor: default

.g-pagination__prev
  +sized-sprite($icons, pag_prev)
  position: absolute
  top: 2px
  left: 0
  cursor: pointer
  @extend %hide-text

.g-pagination__next
  +sized-sprite($icons, pag_next)
  position: absolute
  top: 2px
  right: 0
  cursor: pointer
  @extend %hide-text

.g-pagination__pages
  text-align: center
  ul
    @extend %clr
    display: inline-block
  li
    float: left
    margin-right: 5px
    list-style: none
    color: #8a8c8c
    font-size: 11px
    +border-radius(50%)
    border: 1px solid #a0a2a3
    width: 20px
    height: 20px
    text-align: center
    &.active
      border: 1px solid #b3423d
      background-color: #b3423d
      color: #fbf6f6
      a
        color: #fbfbfb
    &:hover
      border: 1px solid #b3423d
      background-color: #b3423d
      color: #fbf6f6
      a
        color: #fbfbfb
    a
      color: #8a8c8c
      text-decoration: none
      width: 100%
      height: 100%
      display: inline-block
      &:hover
        text-decoration: none
  li.g-pagination__more
    border: none
    color: #8a8c8c
    &:hover
      background: none
      cursor: default

.g-btn
  display: inline-block
  padding: 4px 12px
  margin-bottom: 0
  font-size: 14px
  line-height: 20px
  text-align: center
  vertical-align: middle
  cursor: pointer
  border: 0
  +border-radius(3px)
  +box-shadow(inset 0 1px 0 rgba(182, 197, 205, 0.75))
  background: #fff
  color: #22729c
  text-decoration: none
  +transition(all 0.3s ease-in-out)
  &:hover
    text-decoration: none
    +transition(all 0.3s ease-in-out)
    +box-shadow(none)

.g-btn-warning
  color: #fff
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
  +background-image(linear-gradient(#ffa200, #ff9000))
  border-top: 1px solid #ffd236
  +box-shadow(0 1px 1px #832924, inset 0 1px 0 #ffd236)
  +transition(all 0.3s ease-in-out)
  &:hover
    color: #fff
    +background-image(linear-gradient(lighten(#ffa200, 20%), lighten(#ff9000, 2%)))
    +transition(all 0.3s ease-in-out)
    +box-shadow(0 1px 2px #832924)

.g-btn-inverse
  color: #fff
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
  +background-image(linear-gradient(#898d8f, #6b6f71))
  border-top: 1px solid #6b6f71
  +box-shadow(0 1px 1px #282a2c, inset 0 1px 0 #868e91)
  +transition(all 0.3s ease-in-out)
  &:hover
    color: #fff
    +background-image(linear-gradient(lighten(#898d8f, 2%), lighten(#6b6f71, 20%)))
    +transition(all 0.3s ease-in-out)
    +box-shadow(0 1px 2px #282a2c)

.btn-mini
  padding: 0 6px
  font-size: 10.5px
  +border-radius(3px)

.btn-large
  padding: 11px 19px
  font-size: 17.5px
  +border-radius(6px)

.btn-small
  padding: 2px 10px
  font-size: 11.9px
  +border-radius(3px)

//slider

.building__photo
  width: 405px
  float: left
  .building__media
    text-align: center
    height: 270px
    line-height: 270px
    border: 1px solid #b0b5b7
    +border-radius(6px)
    padding: 4px
    margin-bottom: 10px
    img
      vertical-align: middle
      text-align: center
      width: 100%
      height: 100%
      display: block

.building__thumbs
  position: relative
  margin: 3px 0 0
  .caro
    height: 70px
    margin: 0 0 0 27px
    width: 350px
    overflow: hidden
    position: relative
  ul
    margin: 0
    position: absolute
    width: 20000em
    list-style: none
    li
      width: 77px
      height: 60px
      float: left
      margin: 0 5px 0 0
      border: 1px solid #b1b5b7
      border-radius: 3px
      padding: 2px
      line-height: 48px
      cursor: pointer
      +opacity(0.55)
      &:hover, &.active
        border-color: #ff9900
        background-color: #ff9900
        +opacity(1)
      img
        width: 100%
        height: 100%
        vertical-align: middle
  %arrow
    position: absolute
    top: 25px
    cursor: pointer
    &.disable
      cursor: default
  .slide__arrow-prev
    @extend %arrow
    left: 0
    +sized-sprite($icons, pag_prev)
    +opacity(1)
    &.disabled
      +opacity(0.2)
  .slide__arrow-next
    @extend %arrow
    right: 0
    +sized-sprite($icons, pag_next)
    +opacity(1)
    &.disabled
      +opacity(0.2)
