@import base

// Footer

.footer
    width: 1162px 
    height: 297px
    margin: 0 auto
    background: url(../img/footer-bg.png) repeat
.footer__inner
    padding: 40px 90px
    +box    
    .h2
        display: block
        text-transform: uppercase
        color: #d25349
        margin-bottom: 20px
    input
        width: 230px
        height: 40px
        +box
        border-radius: 0 
        background: #fff
        color: #1c1c1c
        border: none
        +placeholder(#a8a9ae)
    .submit
        width: 90px   
.footer__nav
    position: relative
    margin-bottom: 30px
    ul
        +clr
    li
        width: 40%
        float: left  
    a
        font-size: 11px
        color: #5b5c56
        text-transform: uppercase
        &:hover
            color: #5b5c56      
.footer__form
    float: left
    width: 230px
.footer__contact
    position: relative
    margin-bottom: 25px    
.contact
    margin-right: 25px
    font: 10px Arial, sans-serif
    color: #525257
    margin-bottom: 5px                 
.contact__name       
    font-size: 10px
    min-height: 1px!important
.contact__value
    font-size: 11px
    min-height: 1px!important
.footer__menu
    a
        font-size: 14px
        color: #373737        
.footer__bot
    margin-top: 20px
    padding-top: 22px
    border-top: 1px solid #877d7a
    +box
.footer__logo
    position: absolute
    top: 189px
    left: 0px
.copyrights
    position: absolute
    top: 205px
    left: 0
    font: 10px Arial, sans-serif
    color: #6d6d6f
.footer__socials
    position: absolute
    top: 195px
    left: 137px                            