@import "lib/base";
// Header


.header{
	background: url('../img/bg.jpg') 100% 0% #e6eff3;
	padding-top: 20px;
}
	.header__topper{
		margin-bottom: 20px;
	}
	.header__menu{
		li{
			float: right;
			margin-left: 20px;
		}
	}
	.header__socials{
		ul{
			margin: 0;
		}
		li{
			list-style: none;
			display: inline-block;
			vertical-align: top;
			margin-left: 5px;
		}
	}
		.social{
			@extend %hide-text;
			display: block;
		}
			.social__fb{	@include sized-sprite($icons, ico_fb);	};
			.social__tw{	@include sized-sprite($icons, ico_tw);	};
			.social__gp{	@include sized-sprite($icons, ico_gp);	};


	.header__brand{
		margin-bottom: 20px;
	}
		.header__logo{
			margin-top: 0;
			a{
				color: #33373f;
				font-size: 60px;
				font-weight: bold;
				text-decoration: none;
				&:hover{
					text-decoration: none;
				}
			}
		}
		.header__description{
			color: #9caeb6;
			font-size: 18px;
			font-style: italic;
		}
		.header__info{
			vertical-align: top;
			display: inline-block;
			margin-top: 28px;
			color: #33373f;
			font-size: 24px;
			p{
				&:last-child{
					margin-bottom: 0;
				}
			}
		}

	.navbar{
		.navbar-inner{
			padding-left: 0;
			padding-right: 0;
			background-color: #5491b1;
			background-image: none;
			border: none;
			box-shadow: 0 1px 0 #1f5774;
		}
		.divider-vertical{
			margin: 0;
			border-left: 1px solid #4784a4;
			border-right: 1px solid #4784a4;
		}
		.nav{
			li{
				a{
					color: #fff;
					text-shadow: 0 1px 0 #2f576c;
					&:hover{
						color: #fff;
						text-shadow: 0 1px 0 #2f576c;
						background-color: #3c7c9d;
					}
				}
				&:first-child{
					a{
						@include border-radius(4px 0 0 4px);
					}
				}
			}
			.active{
				a{
					// &:first-child{
					// 	@include border-radius(4px 0 0 4px);
					// }
					color: #fff;
					text-shadow: 0 1px 0 #2f576c;
					background-color: #183645;
					&:focus{
					color: #fff;
					text-shadow: 0 1px 0 #2f576c;
					background-color: #183645;
					}
					&:hover{
						color: #fff;
						text-shadow: 0 1px 0 #2f576c;
						background-color: #183645;
					}
				}
			}
		}
	}

	.header__filter,
	.header__promo,
	.header__staff{
		margin-bottom: 20px;
		background-color: #fff;
		@include border-radius(5px);
		overflow: hidden;
		min-height: 400px;
		.h1{
			font-weight: bold;
		}
	}
		.header__filter{
			padding: 0 15px;
			font-size: 12px;
			@include background-image(linear-gradient(#c26762, #b3423c));
			.h1{
				color: #fff;
				font-size: 18px;
				font-weight: normal;
				text-transform: uppercase;
				@include text-shadow(0 1px 0 rgba(106,25,21,.75));
			}
			.header__filter-item-heading{
				color: #f6e9e8;
				font-size: 12px;
				font-weight: normal;
			}
		}
			.header__filter-add{
				margin-top: 10px;
			}
			.header__filter-advanced{
				float: left;
				width: 50%;
				a{
					color: #fff;
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
				}
			}
			.header__filter-btn{
				float: right;
				width: 50%;
				text-align: right;
				.g-btn{
					text-transform: uppercase;
					@include text-shadow(0 1px 0 rgba(146,93,0,.75));
				}
				.icon-search{
					@include sized-sprite($icons, ico_search);
					margin-right: 10px;
				}
			}
			.header__filter-long{
				width: 100%;
			}
			.header__filter-short{
				&:first-child{
					margin-left: 0;
					float: left
				}
				width: 47%;
				float: right;
			}
		.header__promo{
			position: relative;
			.h1{
				color: #ffa100;
				font-size: 24px;
				font-weight: normal;
				line-height: 1;
			}
		}
		.header__promo-image{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			overflow: hidden;
			img{
				width: 100%;
				display: block;
			}
		}
		.header__promo-info{
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 1;
			background-color: rgba(53,59,61,.8);
			padding: 8px 10px;
			color: #fff;
			font-size: 12px;
		}
			.header__promo-left{
				float: left;
				width: 175px;
				margin-right: 10px;
				td{
					&:first-child{
						width: 80px;
					}
				}
			}
			.header__promo-right{
				overflow: hidden;
			}
				.header__promo-price{
					font-size: 22px;
					@include text-shadow(0 -1px 0 #000);
					margin-bottom: 10px;
				}
		.header__staff{
			.h1{
				color: #393d3e;
				font-size: 20px;
				font-weight: bold;
				line-height: 1;
				margin-right: 60px;
				// margin: 5px;
			}
			p{
				color: #393d3d;
				font-size: 12px;
				@include text-shadow(0 1px 0 #fff);
			}
		}
			.header__staff-img{
				img{
					@include border-radius(5px 5px 0 0);
					display: block;
					min-width: 100%;
					max-height: 260px;
				}
			}
			.header__staff-text{
				margin: 0 15px;
				position: relative;
				.g-btn{
					position: absolute;
					top: 0;
					right: 0;
				}
			}
	.header__welcome,
	.header__about,
	.header__testimonials{
		margin-bottom: 20px;
		p{
			color: #818586;
			font-size: 14px;
			@include text-shadow(0 1px 0 #fff);
		}
		.h1{
			color: #393d3d;
			font-size: 26px;
			font-weight: bold;
		}
	}
		.header__testimonials{
			blockquote{
				color: #393d3e;
				margin: 0;
				margin-bottom: 10px;
				padding: 0;
				border: none;
				font-style: italic;
				p{
					color: #393d3e;
				}
			}
			blockquote p:before,
			blockquote p:after {
				font-size: 18px;
				font-style: normal;
				font-family: "Arial Black", "Helvetica CY", "Nimbus Sans L" sans-serif;
			}
				blockquote p:after {
					content: '”';
				}
				blockquote p:before{
					content: '“';
				}
			.h1{
				color: #707b80;
			}
			.header__testimonials-image{
				float: left;
				width: 100px;
				margin-right: 10px;
				img{
					border: 1px solid #fff;
				}
			}
			.header__testimonials-text{
				overflow: hidden;
			}
		}