@font-face { font-family: "UbuntuBold"; src: url("../fonts/ubuntu-bold.eot"); src: url("../fonts/ubuntu-bold.eot") format("embedded-opentype"), url("../fonts/ubuntu-bold.woff") format("woff"), url("../fonts/ubuntu-bold.ttf") format("truetype"), url("../fonts/ubuntu-bold.svg#UbuntuBold") format("svg"); }

@font-face { font-family: "UbuntuRegular"; src: url("../fonts/ubuntu-regular.eot"); src: url("../fonts/ubuntu-regular.eot") format("embedded-opentype"), url("../fonts/ubuntu-regular.woff") format("woff"), url("../fonts/ubuntu-regular.ttf") format("truetype"), url("../fonts/ubuntu-regular.svg#UbuntuRegular") format("svg"); }

@font-face { font-family: "UbuntuMedium"; src: url("../fonts/ubuntu-medium.eot"); src: url("../fonts/ubuntu-medium.eot") format("embedded-opentype"), url("../fonts/ubuntu-medium.woff") format("woff"), url("../fonts/ubuntu-medium.ttf") format("truetype"), url("../fonts/ubuntu-medium.svg#UbuntuMedium") format("svg"); }

@font-face { font-family: "UbuntuLight"; src: url("../fonts/ubuntu-light.eot"); src: url("../fonts/ubuntu-light.eot") format("embedded-opentype"), url("../fonts/ubuntu-light.woff") format("woff"), url("../fonts/ubuntu-light.ttf") format("truetype"), url("../fonts/ubuntu-light.svg#UbuntuLight") format("svg"); }

@font-face { font-family: "UbuntuMediumItalic"; src: url("../fonts/ubuntu-mediumitalic.eot"); src: url("../fonts/ubuntu-mediumitalic.eot") format("embedded-opentype"), url("../fonts/ubuntu-mediumitalic.woff") format("woff"), url("../fonts/ubuntu-mediumitalic.ttf") format("truetype"), url("../fonts/ubuntu-mediumitalic.svg#UbuntuMediumItalic") format("svg"); }

@font-face { font-family: "UbuntuItalic"; src: url("../fonts/ubuntu-italic.eot"); src: url("../fonts/ubuntu-italic.eot") format("embedded-opentype"), url("../fonts/ubuntu-italic.woff") format("woff"), url("../fonts/ubuntu-italic.ttf") format("truetype"), url("../fonts/ubuntu-italic.svg#UbuntuItalic") format("svg"); }

* { margin: 0; padding: 0; }

body { min-width: 1025px !important; font-size: 12px; font-family: "UbuntuRegular", sans-serif; font-weight: normal; color: #424b5a; line-height: 1.2; }

ul, ol { list-style: none; margin: 0; }

form { margin: 0; }

button::-moz-focus-inner { padding: 0; border: 0; }

input[type="submit"]::-moz-focus-inner { padding: 0; border: 0; }

h1, h2, h3, h4, h5, h6 { margin: 0; line-height: 1.2; }

p { margin: 0; }

a { text-decoration: none; }
a:hover { text-decoration: none; }

.page { position: relative; }

.h1 { margin-bottom: 30px; font-family: "UbuntuBold", sans-serif; font-weight: normal; font-size: 26px; color: #1e1e1e; }

.h1_white { color: white; margin-bottom: 25px; }

.h2 { font-size: 20px; color: #353230; }

.more { font-size: 13px; color: #3091c1; }

.more_white { color: white; }
.more_white:hover { color: white; text-decoration: underline; }

.divide { height: 1px; background: #c5c2c0; }

.button { height: 25px; padding: 0 10px; border: none; outline: none; border-radius: 10px; background: #2f95c7; font-family: "UbuntuBold", sans-serif; font-weight: normal; text-transform: uppercase; -moz-transition: 400ms background; -o-transition: 400ms background; -webkit-transition: 400ms background; -ms-transition: 400ms background; transition: 400ms background; color: white; }
.button:hover { background: #2a86b2; }

.select { position: relative; width: 200px; height: 25px; -moz-box-sizing: border-box; box-sizing: border-box; background: #e6e6e6; border: none; border-radius: 10px; }
.select select { position: absolute; top: 0px; left: 0px; width: 100%; height: 25px; line-height: 25px; padding: 0 4px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; color: #292b2c; z-index: 2; }

.select_left { border-radius: 10px 0 0 10px; }

.select_right { border-radius: 0 10px 10px 0; }

.select__arrow { position: absolute; top: 0; bottom: 0; right: 0; width: 28px; }
.select__arrow:after { content: ""; position: absolute; top: 50%; left: 50%; margin: -4px 0 0 -6px; background: url('../img/icons-s6679cb7d30.png') 0 -607px no-repeat; width: 8px; height: 6px; }

.select__value { -moz-box-sizing: border-box; box-sizing: border-box; font-family: "UbuntuMedium", sans-serif; font-weight: normal; line-height: 25px; font-size: 12px; color: #353230; padding: 0 33px 0 12px; }

.input { width: 200px; height: 25px !important; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 10px !important; -moz-border-radius: 10px !important; -ms-border-radius: 10px !important; -o-border-radius: 10px !important; border-radius: 10px !important; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; background: #e6e6e6; font-family: "UbuntuMedium", sans-serif; font-weight: normal; color: #353230; }
.input.placeholder { color: #353230; }
.input:-moz-placeholder { color: #353230; }
.input::-webkit-input-placeholder { color: #353230; }

.textarea { width: 200px; max-width: 200px; height: 100px; max-height: 100px; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 10px !important; -moz-border-radius: 10px !important; -ms-border-radius: 10px !important; -o-border-radius: 10px !important; border-radius: 10px !important; background: #e6e6e6; font-family: "UbuntuMedium", sans-serif; font-weight: normal; color: #353230; }
.textarea.placeholder { color: #353230; }
.textarea:-moz-placeholder { color: #353230; }
.textarea::-webkit-input-placeholder { color: #353230; }

.select-radio { position: relative; min-width: 51%; text-align: left; }
.select-radio span { position: relative; display: inline-block; margin-left: 14px; font-size: 11px; color: #9b9e9e; }
.select-radio span:before { content: ""; position: absolute; top: 2px; left: -31px; width: 17px; height: 17px; -moz-box-sizing: border-box; box-sizing: border-box; border-radius: 50%; background: #e6e6e6; }
.select-radio input { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
.select-radio input:checked + span:after { content: ""; position: absolute; top: 7px; left: -26px; width: 7px; height: 7px; border-radius: 50%; background: #1e1e1e; }

.select-checkbox { position: relative; display: inline-block; min-width: 51%; }
.select-checkbox span { display: inline-block; margin-left: 14px; -moz-user-select: none; -webkit-user-select: none; user-select: none; color: #b2b2b2; }
.select-checkbox span:before { content: ""; position: absolute; top: 3px; left: 0px; width: 14px; height: 14px; -moz-box-sizing: border-box; box-sizing: border-box; border-radius: 1px; background: #e6e6e6; }
.select-checkbox input { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
.select-checkbox input:checked + span:after { content: ""; position: absolute; top: 6px; left: 4px; background: url('../img/icons-s6679cb7d30.png') 0 -553px no-repeat; width: 8px; height: 8px; }

@font-face { font-family: "UbuntuBold"; src: url("../fonts/ubuntu-bold.eot"); src: url("../fonts/ubuntu-bold.eot") format("embedded-opentype"), url("../fonts/ubuntu-bold.woff") format("woff"), url("../fonts/ubuntu-bold.ttf") format("truetype"), url("../fonts/ubuntu-bold.svg#UbuntuBold") format("svg"); }

@font-face { font-family: "UbuntuRegular"; src: url("../fonts/ubuntu-regular.eot"); src: url("../fonts/ubuntu-regular.eot") format("embedded-opentype"), url("../fonts/ubuntu-regular.woff") format("woff"), url("../fonts/ubuntu-regular.ttf") format("truetype"), url("../fonts/ubuntu-regular.svg#UbuntuRegular") format("svg"); }

@font-face { font-family: "UbuntuMedium"; src: url("../fonts/ubuntu-medium.eot"); src: url("../fonts/ubuntu-medium.eot") format("embedded-opentype"), url("../fonts/ubuntu-medium.woff") format("woff"), url("../fonts/ubuntu-medium.ttf") format("truetype"), url("../fonts/ubuntu-medium.svg#UbuntuMedium") format("svg"); }

@font-face { font-family: "UbuntuLight"; src: url("../fonts/ubuntu-light.eot"); src: url("../fonts/ubuntu-light.eot") format("embedded-opentype"), url("../fonts/ubuntu-light.woff") format("woff"), url("../fonts/ubuntu-light.ttf") format("truetype"), url("../fonts/ubuntu-light.svg#UbuntuLight") format("svg"); }

@font-face { font-family: "UbuntuMediumItalic"; src: url("../fonts/ubuntu-mediumitalic.eot"); src: url("../fonts/ubuntu-mediumitalic.eot") format("embedded-opentype"), url("../fonts/ubuntu-mediumitalic.woff") format("woff"), url("../fonts/ubuntu-mediumitalic.ttf") format("truetype"), url("../fonts/ubuntu-mediumitalic.svg#UbuntuMediumItalic") format("svg"); }

@font-face { font-family: "UbuntuItalic"; src: url("../fonts/ubuntu-italic.eot"); src: url("../fonts/ubuntu-italic.eot") format("embedded-opentype"), url("../fonts/ubuntu-italic.woff") format("woff"), url("../fonts/ubuntu-italic.ttf") format("truetype"), url("../fonts/ubuntu-italic.svg#UbuntuItalic") format("svg"); }

/* default layout */
@font-face { font-family: "UbuntuBold"; src: url("../fonts/ubuntu-bold.eot"); src: url("../fonts/ubuntu-bold.eot") format("embedded-opentype"), url("../fonts/ubuntu-bold.woff") format("woff"), url("../fonts/ubuntu-bold.ttf") format("truetype"), url("../fonts/ubuntu-bold.svg#UbuntuBold") format("svg"); }

@font-face { font-family: "UbuntuRegular"; src: url("../fonts/ubuntu-regular.eot"); src: url("../fonts/ubuntu-regular.eot") format("embedded-opentype"), url("../fonts/ubuntu-regular.woff") format("woff"), url("../fonts/ubuntu-regular.ttf") format("truetype"), url("../fonts/ubuntu-regular.svg#UbuntuRegular") format("svg"); }

@font-face { font-family: "UbuntuMedium"; src: url("../fonts/ubuntu-medium.eot"); src: url("../fonts/ubuntu-medium.eot") format("embedded-opentype"), url("../fonts/ubuntu-medium.woff") format("woff"), url("../fonts/ubuntu-medium.ttf") format("truetype"), url("../fonts/ubuntu-medium.svg#UbuntuMedium") format("svg"); }

@font-face { font-family: "UbuntuLight"; src: url("../fonts/ubuntu-light.eot"); src: url("../fonts/ubuntu-light.eot") format("embedded-opentype"), url("../fonts/ubuntu-light.woff") format("woff"), url("../fonts/ubuntu-light.ttf") format("truetype"), url("../fonts/ubuntu-light.svg#UbuntuLight") format("svg"); }

@font-face { font-family: "UbuntuMediumItalic"; src: url("../fonts/ubuntu-mediumitalic.eot"); src: url("../fonts/ubuntu-mediumitalic.eot") format("embedded-opentype"), url("../fonts/ubuntu-mediumitalic.woff") format("woff"), url("../fonts/ubuntu-mediumitalic.ttf") format("truetype"), url("../fonts/ubuntu-mediumitalic.svg#UbuntuMediumItalic") format("svg"); }

@font-face { font-family: "UbuntuItalic"; src: url("../fonts/ubuntu-italic.eot"); src: url("../fonts/ubuntu-italic.eot") format("embedded-opentype"), url("../fonts/ubuntu-italic.woff") format("woff"), url("../fonts/ubuntu-italic.ttf") format("truetype"), url("../fonts/ubuntu-italic.svg#UbuntuItalic") format("svg"); }

.page__grey { background: #f0efef; }

.l-vline { position: relative; }

.vline { position: absolute; top: 0; bottom: 0; left: -40px; width: 1px; background-color: #e5e5e5; z-index: 999; }

.topper, .sidebar { position: relative; background: #1e1e1e; }
.topper:before, .sidebar:before { content: ""; position: absolute; right: 100%; top: 0; width: 2000em; height: 100%; background: #1e1e1e; }
.topper:after, .sidebar:after { content: ""; position: absolute; top: 0; bottom: 0; left: -40px; width: 1px; background: #474443; z-index: 999; }

.filters { position: relative; margin-right: -15px; padding-top: 30px; }
.filters .button { width: 200px; }

.filters__title { position: relative; display: inline-block; margin-bottom: 20px; font-family: "UbuntuBold", sans-serif; font-weight: normal; font-size: 20px; color: #f5531a; }
.filters__title:after { content: ""; position: absolute; top: 6px; right: -27px; background: url('../img/icons-s6679cb7d30.png') 0 -443px no-repeat; width: 15px; height: 14px; }

.item__img img { width: 100%; }

.slide { margin: 0 0 0 -15px; }

.slide_agent .item__block { right: 230px; left: 0px; width: auto; }

.filter__item { margin-bottom: 20px; }
.filter__item p { margin-bottom: 5px; font-family: "UbuntuMedium", sans-serif; font-weight: normal; color: white; }

.filter__item_group .select { width: 98px; display: inline-block; }

.item__block { position: absolute; bottom: 0; right: 0; width: 480px; -moz-box-sizing: border-box; box-sizing: border-box; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); opacity: 0.9; background: #f55319; padding: 20px 18px 13px; }

.item__title { display: inline-block; margin-right: 15px; font-family: "UbuntuMedium", sans-serif; font-weight: normal; font-size: 20px; color: white; }

.item__price { display: inline-block; font-family: "UbuntuBold", sans-serif; font-weight: normal; font-size: 20px; color: #1e1e1e; }

.item__info { font-size: 0; width: 280px; margin: 13px 17px 0 0; }
.item__info li { display: inline-block; width: 140px; }
.item__info li p { display: inline-block; }

.item__type { font-size: 11px; color: white; }

.item__value { font-size: 12px; color: white; font-family: "UbuntuBold", sans-serif; font-weight: normal; }

.item__more { margin-top: 13px; }

.item__link { display: inline-block; height: 20px; line-height: 20px; padding: 0 10px; border-radius: 10px; -webkit-background-clip: padding; -moz-background-clip: padding; background-clip: padding-box; background: white; font-family: "UbuntuBold", sans-serif; font-weight: normal; font-size: 11px; color: #1e1e1e; }

.carousel-indicators { position: absolute; bottom: 50px; top: auto; right: 20px; z-index: 9; }
.carousel-indicators li { width: 10px; height: 10px; border-radius: 50%; -moz-box-sizing: border-box; box-sizing: border-box; border: 2px solid #c03a09; background: white; }
.carousel-indicators li.active { border: 2px solid white; background: #f15f29; }

.carousel-indicators_agent { right: 250px; }

.agent { position: absolute; top: 0; bottom: 0; right: 0px; width: 230px; padding: 17px; overflow: hidden; -moz-box-sizing: border-box; box-sizing: border-box; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); opacity: 0.9; background-color: #2f95c7; }

.agent__title { margin-bottom: 18px; font-family: "UbuntuMedium", sans-serif; font-weight: normal; font-size: 20px; color: white; }

.agent__img { height: 100px; line-height: 100px; margin-bottom: 17px; }
.agent__img img { max-height: 100px; }

.agent__info { font-size: 13px; color: white; line-height: 1.5; margin-bottom: 17px; }

.box { position: relative; background: #353230; }
.box:after { content: ""; position: absolute; top: 0; bottom: 0; left: -40px; width: 1px; background: #474443; z-index: 999; }
.box:before { content: ""; position: absolute; right: 100%; top: 0; width: 2000em; height: 100%; background: #353230; }

.article { margin-left: -15px; padding-left: 15px; padding-bottom: 40px; background: white; }

.article__item { padding-top: 40px; }
.article__item p { font-size: 13px; color: #757575; line-height: 1.6; margin-bottom: 10px; }

.l-popular { position: relative; padding: 40px 0 0px 0; margin-right: 0; background: #353230; }

.popular__title, .similar__title { margin-bottom: 30px; font-family: "UbuntuLight", sans-serif; font-weight: normal; font-size: 26px; color: #a7b983; }

.popular { font-size: 0; }
.popular li { display: inline-block; width: 50%; margin-bottom: 10px; }
.popular li a { font-size: 12px; color: #f0efef; }
.popular li a:hover { text-decoration: underline; }

.page__border { border-bottom: 1px solid #e6e6e6; }

.l-preoperties { padding-top: 30px; }

.preoperties__item { margin-bottom: 22px; }

.preoperties__img { display: block; margin-bottom: 20px; }
.preoperties__img img { width: 100%; height: 100%; }

.preoperties__adress { display: block; padding-bottom: 17px; border-bottom: 1px solid #c5c2c0; margin-bottom: 20px; font-family: "UbuntuMediumItalic", sans-serif; font-weight: normal; font-size: 18px; color: #9c9a99; }
.preoperties__adress:hover { color: #9c9a99; text-decoration: underline; }

.preoperties__info { margin-bottom: 20px; }
.preoperties__info li:before, .preoperties__info li:after { content: ""; display: table; }
.preoperties__info li:after { clear: both; }

.preoperties__type { width: 30%; font-family: "UbuntuLight", sans-serif; font-weight: normal; color: #9c9a99; }

.preoperties__value { width: 70%; font-family: "UbuntuMedium", sans-serif; font-weight: normal; color: #9c9a99; }

.preoperties__price { margin-bottom: 13px; font-family: "UbuntuBold", sans-serif; font-weight: normal; font-size: 16px; color: #f5531a; }

.preoperties__more { display: block; height: 245px; line-height: 245px; border-radius: 0 20px 0 0; background: #f55d27; text-align: center; font-family: "UbuntuBold", sans-serif; font-weight: normal; font-size: 16px; color: white; text-transform: uppercase; -moz-transition: background 400ms; -o-transition: background 400ms; -webkit-transition: background 400ms; -ms-transition: background 400ms; transition: background 400ms; }
.preoperties__more:hover { color: white; background: #f44b0f; }

@font-face { font-family: "UbuntuBold"; src: url("../fonts/ubuntu-bold.eot"); src: url("../fonts/ubuntu-bold.eot") format("embedded-opentype"), url("../fonts/ubuntu-bold.woff") format("woff"), url("../fonts/ubuntu-bold.ttf") format("truetype"), url("../fonts/ubuntu-bold.svg#UbuntuBold") format("svg"); }

@font-face { font-family: "UbuntuRegular"; src: url("../fonts/ubuntu-regular.eot"); src: url("../fonts/ubuntu-regular.eot") format("embedded-opentype"), url("../fonts/ubuntu-regular.woff") format("woff"), url("../fonts/ubuntu-regular.ttf") format("truetype"), url("../fonts/ubuntu-regular.svg#UbuntuRegular") format("svg"); }

@font-face { font-family: "UbuntuMedium"; src: url("../fonts/ubuntu-medium.eot"); src: url("../fonts/ubuntu-medium.eot") format("embedded-opentype"), url("../fonts/ubuntu-medium.woff") format("woff"), url("../fonts/ubuntu-medium.ttf") format("truetype"), url("../fonts/ubuntu-medium.svg#UbuntuMedium") format("svg"); }

@font-face { font-family: "UbuntuLight"; src: url("../fonts/ubuntu-light.eot"); src: url("../fonts/ubuntu-light.eot") format("embedded-opentype"), url("../fonts/ubuntu-light.woff") format("woff"), url("../fonts/ubuntu-light.ttf") format("truetype"), url("../fonts/ubuntu-light.svg#UbuntuLight") format("svg"); }

@font-face { font-family: "UbuntuMediumItalic"; src: url("../fonts/ubuntu-mediumitalic.eot"); src: url("../fonts/ubuntu-mediumitalic.eot") format("embedded-opentype"), url("../fonts/ubuntu-mediumitalic.woff") format("woff"), url("../fonts/ubuntu-mediumitalic.ttf") format("truetype"), url("../fonts/ubuntu-mediumitalic.svg#UbuntuMediumItalic") format("svg"); }

@font-face { font-family: "UbuntuItalic"; src: url("../fonts/ubuntu-italic.eot"); src: url("../fonts/ubuntu-italic.eot") format("embedded-opentype"), url("../fonts/ubuntu-italic.woff") format("woff"), url("../fonts/ubuntu-italic.ttf") format("truetype"), url("../fonts/ubuntu-italic.svg#UbuntuItalic") format("svg"); }

.l-header { position: relative; overflow: hidden; }

.l-logo { position: relative; }
.l-logo:before { content: ""; position: absolute; right: -14px; top: 0; height: 4px; width: 2000em; background: #83a7b9; }

.header__content { position: relative; }
.header__content:after { content: ""; position: absolute; top: 0; left: -14px; height: 4px; width: 2000em; background: #a7b983; }

.logo a { line-height: 80px; font-family: "UbuntuBold", sans-serif; font-weight: normal; font-size: 32px; color: #1e1e1e; }

.nav ul { margin-top: 37px; }
.nav ul:before, .nav ul:after { content: ""; display: table; }
.nav ul:after { clear: both; }
.nav li { float: left; margin-right: 28px; }
.nav li a { font-family: "UbuntuLight", sans-serif; font-weight: normal; font-size: 14px; color: #1e1e1e; text-transform: uppercase; }
.nav li a:hover { color: #2f95c8; }
.nav li a.current { color: #2f95c8; }

.g-menu { margin-top: 10px; }
.g-menu:before, .g-menu:after { content: ""; display: table; }
.g-menu:after { clear: both; }
.g-menu li { float: right; margin-left: 18px; }
.g-menu li a { font-size: 10px; color: #322f2e; }
.g-menu li a:hover { color: #db4637; }

.socials li { display: inline-block; margin-left: 20px; font: 0/0 a; text-shadow: none; color: transparent; }
.socials li a { display: block; }

.social__fb { background: url('../img/icons-s6679cb7d30.png') 0 -510px no-repeat; width: 9px; height: 16px; }

.social__tw { background: url('../img/icons-s6679cb7d30.png') 0 -366px no-repeat; width: 20px; height: 17px; }

.social__gp { background: url('../img/icons-s6679cb7d30.png') 0 -417px no-repeat; width: 10px; height: 16px; }

.header__phone { margin: 7px 0 0 5px; font-family: "UbuntuBold", sans-serif; font-weight: normal; font-size: 18px; color: #353230; }

@font-face { font-family: "UbuntuBold"; src: url("../fonts/ubuntu-bold.eot"); src: url("../fonts/ubuntu-bold.eot") format("embedded-opentype"), url("../fonts/ubuntu-bold.woff") format("woff"), url("../fonts/ubuntu-bold.ttf") format("truetype"), url("../fonts/ubuntu-bold.svg#UbuntuBold") format("svg"); }

@font-face { font-family: "UbuntuRegular"; src: url("../fonts/ubuntu-regular.eot"); src: url("../fonts/ubuntu-regular.eot") format("embedded-opentype"), url("../fonts/ubuntu-regular.woff") format("woff"), url("../fonts/ubuntu-regular.ttf") format("truetype"), url("../fonts/ubuntu-regular.svg#UbuntuRegular") format("svg"); }

@font-face { font-family: "UbuntuMedium"; src: url("../fonts/ubuntu-medium.eot"); src: url("../fonts/ubuntu-medium.eot") format("embedded-opentype"), url("../fonts/ubuntu-medium.woff") format("woff"), url("../fonts/ubuntu-medium.ttf") format("truetype"), url("../fonts/ubuntu-medium.svg#UbuntuMedium") format("svg"); }

@font-face { font-family: "UbuntuLight"; src: url("../fonts/ubuntu-light.eot"); src: url("../fonts/ubuntu-light.eot") format("embedded-opentype"), url("../fonts/ubuntu-light.woff") format("woff"), url("../fonts/ubuntu-light.ttf") format("truetype"), url("../fonts/ubuntu-light.svg#UbuntuLight") format("svg"); }

@font-face { font-family: "UbuntuMediumItalic"; src: url("../fonts/ubuntu-mediumitalic.eot"); src: url("../fonts/ubuntu-mediumitalic.eot") format("embedded-opentype"), url("../fonts/ubuntu-mediumitalic.woff") format("woff"), url("../fonts/ubuntu-mediumitalic.ttf") format("truetype"), url("../fonts/ubuntu-mediumitalic.svg#UbuntuMediumItalic") format("svg"); }

@font-face { font-family: "UbuntuItalic"; src: url("../fonts/ubuntu-italic.eot"); src: url("../fonts/ubuntu-italic.eot") format("embedded-opentype"), url("../fonts/ubuntu-italic.woff") format("woff"), url("../fonts/ubuntu-italic.ttf") format("truetype"), url("../fonts/ubuntu-italic.svg#UbuntuItalic") format("svg"); }

.l-footer { position: relative; height: 296px; -moz-box-sizing: border-box; box-sizing: border-box; border-top: 1px solid #e6e6e6; }

.footer__nav { position: relative; }
.footer__nav:after { content: ""; position: absolute; top: 0; bottom: 0; left: -40px; width: 1px; background: #e6e6e6; z-index: 999; }
.footer__nav li { display: inline-block; margin-right: 20px; }
.footer__nav a { color: #a7b983; line-height: 29px; }
.footer__nav a:hover { text-decoration: underline; }

.footer { height: 265px; padding-top: 30px; -moz-box-sizing: border-box; box-sizing: border-box; border-top: 1px solid #e6e6e6; background: #f0efef; }

.copyrights { padding-top: 6px; margin-bottom: 37px; font-size: 10px; font-family: "UbuntuItalic", sans-serif; font-weight: normal; color: #c5c2c0; }
.copyrights p { margin-bottom: 10px; }

.contacts { margin-top: 10px; }
.contacts li { margin-bottom: 8px; color: #353230; }
.contacts li a { color: #353230; }
.contacts li a:hover { text-decoration: underline; }

.contacts__title { color: #a2a09f; font-size: 10px; }

.footer__form { margin-top: 16px; }
.footer__form input[type="text"] { width: 100%; margin-bottom: 15px; border-radius: 10px; background: white; font-family: "UbuntuMedium", sans-serif; font-weight: normal; color: #353230; }
.footer__form input[type="text"].placeholder { color: #353230; }
.footer__form input[type="text"]:-moz-placeholder { color: #353230; }
.footer__form input[type="text"]::-webkit-input-placeholder { color: #353230; }

@font-face { font-family: "UbuntuBold"; src: url("../fonts/ubuntu-bold.eot"); src: url("../fonts/ubuntu-bold.eot") format("embedded-opentype"), url("../fonts/ubuntu-bold.woff") format("woff"), url("../fonts/ubuntu-bold.ttf") format("truetype"), url("../fonts/ubuntu-bold.svg#UbuntuBold") format("svg"); }

@font-face { font-family: "UbuntuRegular"; src: url("../fonts/ubuntu-regular.eot"); src: url("../fonts/ubuntu-regular.eot") format("embedded-opentype"), url("../fonts/ubuntu-regular.woff") format("woff"), url("../fonts/ubuntu-regular.ttf") format("truetype"), url("../fonts/ubuntu-regular.svg#UbuntuRegular") format("svg"); }

@font-face { font-family: "UbuntuMedium"; src: url("../fonts/ubuntu-medium.eot"); src: url("../fonts/ubuntu-medium.eot") format("embedded-opentype"), url("../fonts/ubuntu-medium.woff") format("woff"), url("../fonts/ubuntu-medium.ttf") format("truetype"), url("../fonts/ubuntu-medium.svg#UbuntuMedium") format("svg"); }

@font-face { font-family: "UbuntuLight"; src: url("../fonts/ubuntu-light.eot"); src: url("../fonts/ubuntu-light.eot") format("embedded-opentype"), url("../fonts/ubuntu-light.woff") format("woff"), url("../fonts/ubuntu-light.ttf") format("truetype"), url("../fonts/ubuntu-light.svg#UbuntuLight") format("svg"); }

@font-face { font-family: "UbuntuMediumItalic"; src: url("../fonts/ubuntu-mediumitalic.eot"); src: url("../fonts/ubuntu-mediumitalic.eot") format("embedded-opentype"), url("../fonts/ubuntu-mediumitalic.woff") format("woff"), url("../fonts/ubuntu-mediumitalic.ttf") format("truetype"), url("../fonts/ubuntu-mediumitalic.svg#UbuntuMediumItalic") format("svg"); }

@font-face { font-family: "UbuntuItalic"; src: url("../fonts/ubuntu-italic.eot"); src: url("../fonts/ubuntu-italic.eot") format("embedded-opentype"), url("../fonts/ubuntu-italic.woff") format("woff"), url("../fonts/ubuntu-italic.ttf") format("truetype"), url("../fonts/ubuntu-italic.svg#UbuntuItalic") format("svg"); }

.sidebar { padding-right: 14px; margin-right: -14px; }
@media only screen and (max-width: 1200px) { .sidebar { padding-right: 0px; margin-right: 0px; } }
.sidebar .button { width: 200px; height: 40px; font-size: 16px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -ms-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; }

.contact-agent { padding: 20px 14px 124px 0; margin-right: -14px; }

.contact-agent__title { margin-bottom: 25px; font-family: "UbuntuBold", sans-serif; font-weight: normal; font-size: 20px; color: #f5531a; }

.agent-link { font-family: "UbuntuMedium", sans-serif; font-weight: normal; font-size: 20px; color: white; }
.agent-link:hover { color: white; }

.contact-agent__phone { margin: 5px 0; font-size: 16px; color: white; }

.contact-agent__reting { margin-bottom: 20px; font-size: 0; }
.contact-agent__reting i { display: inline-block; margin-right: 3px; }

.star-b { background: url('../img/icons-s6679cb7d30.png') 0 -571px no-repeat; width: 8px; height: 8px; }

.star-g { background: url('../img/icons-s6679cb7d30.png') 0 -589px no-repeat; width: 8px; height: 8px; }

.contact-agent__img { height: 100px; margin-bottom: 22px; }
.contact-agent__img img { max-height: 100%; }

.l-similar { position: relative; background: #353230; padding: 20px 14px 124px 0; margin-right: -14px; }
.l-similar:before { content: ""; position: absolute; right: 100%; top: 0; width: 2000em; height: 100%; background: #353230; }
.l-similar:after { content: ""; position: absolute; top: 0; bottom: 0; left: -40px; width: 1px; background: #474443; z-index: 999; }

.similar { margin-bottom: 28px; }
.similar:before, .similar:after { content: ""; display: table; }
.similar:after { clear: both; }

.similar__left { float: left; width: 90px; margin-right: 10px; }

.similar__right { float: right; width: 170px; }

.similar__img { display: block; width: 100%; }

.similar__adress { margin-bottom: 13px; font-family: "UbuntuMediumItalic", sans-serif; font-weight: normal; color: #d6d6d6; }

.similar__info li { margin-bottom: 5px; }

.similar__type { font-family: "UbuntuLight", sans-serif; font-weight: normal; color: #9c9a99; line-height: 1; }

.similar__value { font-family: "UbuntuMedium", sans-serif; font-weight: normal; color: #9c9a99; }

.content { background: white; }

.content__top { position: relative; margin: 0 0 -39px -16px; background: #2f8ab7; padding: 20px 20px 45px 20px; -moz-box-sizing: border-box; box-sizing: border-box; }
@media only screen and (max-width: 1200px) { .content__top { margin: 0 0 -39px -20px; } }

.content__top_orange { background: #f5541c; }

.content__tabs { position: relative; margin-left: -16px; }

.tabs { padding: 0 20px; }
.tabs li a { display: block; padding: 0 10px; height: 40px; -moz-box-sizing: border-box; box-sizing: border-box; border: none !important; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; line-height: 40px; font-family: "UbuntuMedium", sans-serif; font-weight: normal; font-size: 14px; color: white; }
.tabs li:hover { background: white; }
.tabs li:hover a { color: black; }
.tabs li.active { background: white; }
.tabs li.active a { color: black; }

.result-details__info { margin-bottom: 20px; font-size: 11px; font-family: "UbuntuMedium", sans-serif; font-weight: normal; color: #ffbaa2; }
.result-details__info p { margin-bottom: 5px; }
.result-details__info p span { font-family: "UbuntuBold", sans-serif; font-weight: normal; font-size: 12px; color: #f0efef; }

.tab-content { padding-left: 16px; background: white; }
.tab-content .l-preoperties { margin-left: -20px; padding-left: 20px; }

.building__gallery { position: relative; margin-bottom: 80px; margin-left: -16px; background: #1e1e1e; }
.building__gallery:after { content: ""; position: absolute; bottom: -2px; left: 0; right: 0; height: 1px; background: white; }

.building__photo:before, .building__photo:after { content: ""; display: table; }
.building__photo:after { clear: both; }
.building__photo .building__media { text-align: center; height: 450px; }
.building__photo .building__media img { vertical-align: middle; text-align: center; width: 100%; height: 100%; display: block; }

.building__thumbs { position: relative; -moz-box-sizing: border-box; box-sizing: border-box; text-align: center; }
.building__thumbs:before, .building__thumbs:after { content: ""; display: table; }
.building__thumbs:after { clear: both; }
.building__thumbs .caro { width: 84%; height: 90px; margin: 0 auto; overflow: hidden; position: relative; }
.building__thumbs ul { margin: 0; position: absolute; width: 20000em; list-style: none; }
.building__thumbs ul li { width: 94px; height: 90px; float: left; cursor: pointer; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
@media only screen and (max-width: 1200px) { .building__thumbs ul li { width: 86px; } }
.building__thumbs ul li:hover, .building__thumbs ul li.active { border-color: white; background-color: white; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=55); opacity: 0.55; }
.building__thumbs ul li img { width: 100%; height: 100%; vertical-align: middle; }

.slide__arrow-prev, .slide__arrow-next { position: absolute; top: 32px; left: 24px; padding: 0 5px; -moz-box-sizing: border-box; box-sizing: border-box; background: url('../img/icons-s6679cb7d30.png') 0 -238px no-repeat; width: 20px; height: 20px; cursor: pointer; -moz-user-select: none; -webkit-user-select: none; user-select: none; }
.slide__arrow-prev.disabled, .slide__arrow-next.disabled { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }

.slide__arrow-next { position: absolute; left: auto; right: 24px; background: url('../img/icons-s6679cb7d30.png') 0 -302px no-repeat; width: 20px; height: 20px; }

.building__about { position: relative; padding-bottom: 30px; margin-bottom: 30px; border-bottom: 1px solid #e6e6e6; }

.building__price { position: absolute; top: -80px; left: 14px; width: 230px; height: 50px; line-height: 50px; text-align: center; font-family: "UbuntuBold", sans-serif; font-weight: normal; font-size: 24px; color: white; background: #f5531a; }

.montly { position: absolute; top: -67px; right: 0px; width: 172px; height: 40px; line-height: 40px; padding-left: 52px; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 20px; -moz-border-radius: 20px; -ms-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; font-family: "UbuntuBold", sans-serif; font-weight: normal; font-size: 11px; color: white; background: #1d1d1d; }
.montly:hover { color: white; }
.montly:before { content: ""; position: absolute; top: 12px; left: 20px; background: url('../img/icons-s6679cb7d30.png') 0 -467px no-repeat; width: 16px; height: 16px; }

.building__descr { line-height: 1.6; font-size: 13px; color: #757575; }

.building__param ul { margin-bottom: 17px; padding-left: 20px; }
.building__param dl { margin-bottom: 0; }
.building__param dl:before, .building__param dl:after { content: ""; display: table; }
.building__param dl:after { clear: both; }
.building__param dl dt { float: left; font-family: "UbuntuLight", sans-serif; font-weight: normal; font-weight: normal; color: #a1a09b; }
.building__param dl .building__param-value { width: 60%; float: right; font-family: "UbuntuMedium", sans-serif; font-weight: normal; color: #575653; text-align: left; }
.building__param .more { padding-left: 20px; }

.building__infrastructure { padding: 10px 0px 10px 0px; background: white; margin-bottom: 30px; }
.building__infrastructure .sidebar__title { padding-left: 20px; }

.building__map { margin-top: 20px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }
.building__map img { width: 100%; }

.building__labels { margin-top: 20px; }
.building__labels:before, .building__labels:after { content: ""; display: table; }
.building__labels:after { clear: both; }
.building__labels ul { margin: 0; margin-right: 20px; float: left; width: 160px; }
.building__labels li { list-style: none; }

.checkbox { display: inline-block; min-height: 40px; color: #b8bcbf; font-size: 14px; cursor: pointer; position: relative; }
.checkbox input { position: relative; width: 15px; height: 15px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; z-index: 2; cursor: pointer; }
.checkbox span { position: relative; top: 3px; margin-left: 20px; padding-left: 13px; }
.checkbox span:after { content: ""; position: absolute; top: -3px; left: -20px; background: url('../img/icons-s6679cb7d30.png') 0 -170px no-repeat; width: 24px; height: 24px; }
.checkbox span:before { content: ""; position: absolute; background: url('../img/icons-s6679cb7d30.png') 0 -493px no-repeat; width: 9px; height: 7px; left: -39px; top: 5px; line-height: 16px; }
.checkbox input:checked + span { color: #3a3c3e; }
.checkbox input:checked + span:before { content: ""; background: url('../img/icons-s6679cb7d30.png') 0 -536px no-repeat; width: 9px; height: 7px; }
.checkbox input:checked { color: #cccccc; }
.checkbox span.g-icon-hschool:after { background: url('../img/icons-s6679cb7d30.png') 0 -34px no-repeat; width: 24px; height: 24px; }
.checkbox span.g-icon-hospital:after { background: url('../img/icons-s6679cb7d30.png') 0 -332px no-repeat; width: 24px; height: 24px; }
.checkbox span.g-icon-police:after { background: url('../img/icons-s6679cb7d30.png') 0 -204px no-repeat; width: 24px; height: 24px; }
.checkbox span.g-icon-fire:after { background: url('../img/icons-s6679cb7d30.png') 0 -102px no-repeat; width: 24px; height: 24px; }
.checkbox span.g-icon-shops:after { background: url('../img/icons-s6679cb7d30.png') 0 -268px no-repeat; width: 24px; height: 24px; }
.checkbox span.g-icon-restoraunt:after { background: url('../img/icons-s6679cb7d30.png') 0 0 no-repeat; width: 24px; height: 24px; }
.checkbox span.g-icon-market:after { background: url('../img/icons-s6679cb7d30.png') 0 -136px no-repeat; width: 24px; height: 24px; }
.checkbox span.g-icon-airports:after { background: url('../img/icons-s6679cb7d30.png') 0 -68px no-repeat; width: 24px; height: 24px; }

@font-face { font-family: "UbuntuBold"; src: url("../fonts/ubuntu-bold.eot"); src: url("../fonts/ubuntu-bold.eot") format("embedded-opentype"), url("../fonts/ubuntu-bold.woff") format("woff"), url("../fonts/ubuntu-bold.ttf") format("truetype"), url("../fonts/ubuntu-bold.svg#UbuntuBold") format("svg"); }

@font-face { font-family: "UbuntuRegular"; src: url("../fonts/ubuntu-regular.eot"); src: url("../fonts/ubuntu-regular.eot") format("embedded-opentype"), url("../fonts/ubuntu-regular.woff") format("woff"), url("../fonts/ubuntu-regular.ttf") format("truetype"), url("../fonts/ubuntu-regular.svg#UbuntuRegular") format("svg"); }

@font-face { font-family: "UbuntuMedium"; src: url("../fonts/ubuntu-medium.eot"); src: url("../fonts/ubuntu-medium.eot") format("embedded-opentype"), url("../fonts/ubuntu-medium.woff") format("woff"), url("../fonts/ubuntu-medium.ttf") format("truetype"), url("../fonts/ubuntu-medium.svg#UbuntuMedium") format("svg"); }

@font-face { font-family: "UbuntuLight"; src: url("../fonts/ubuntu-light.eot"); src: url("../fonts/ubuntu-light.eot") format("embedded-opentype"), url("../fonts/ubuntu-light.woff") format("woff"), url("../fonts/ubuntu-light.ttf") format("truetype"), url("../fonts/ubuntu-light.svg#UbuntuLight") format("svg"); }

@font-face { font-family: "UbuntuMediumItalic"; src: url("../fonts/ubuntu-mediumitalic.eot"); src: url("../fonts/ubuntu-mediumitalic.eot") format("embedded-opentype"), url("../fonts/ubuntu-mediumitalic.woff") format("woff"), url("../fonts/ubuntu-mediumitalic.ttf") format("truetype"), url("../fonts/ubuntu-mediumitalic.svg#UbuntuMediumItalic") format("svg"); }

@font-face { font-family: "UbuntuItalic"; src: url("../fonts/ubuntu-italic.eot"); src: url("../fonts/ubuntu-italic.eot") format("embedded-opentype"), url("../fonts/ubuntu-italic.woff") format("woff"), url("../fonts/ubuntu-italic.ttf") format("truetype"), url("../fonts/ubuntu-italic.svg#UbuntuItalic") format("svg"); }

.refine { padding: 20px 0; }
.refine .button { margin-bottom: 28px; }

.refine__item { margin-bottom: 18px; }

.refine__title { position: relative; font-family: "UbuntuMedium", sans-serif; font-weight: normal; color: #a7b983; }
.refine__title:before { content: ""; position: absolute; top: 3px; left: -20px; background: url('../img/icons-s6679cb7d30.png') 0 -393px no-repeat; width: 14px; height: 14px; }

.result-details { position: absolute; top: 0; right: 0; padding: 20px; }

.list-pagination { position: relative; margin: 47px 0; }
.list-pagination:before, .list-pagination:after { content: ""; display: table; }
.list-pagination:after { clear: both; }

.pagination { float: right; margin: 0 30px; font-size: 0; }
.pagination li { display: inline-block; }
.pagination li a { width: 36px; height: 25px; line-height: 25px; text-align: center; display: block; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; font-family: "UbuntuMedium", sans-serif; font-weight: normal; font-size: 12px; color: #1e1e1e; }
.pagination li a:hover { background: #f0efef; color: #2f95c8; }

.pagination-next, .pagination-prev { position: relative; top: 2px; float: right; font: 0/0 a; text-shadow: none; color: transparent; background: url('../img/icons-s6679cb7d30.png') 0 -302px no-repeat; width: 20px; height: 20px; }

.pagination-prev { background: url('../img/icons-s6679cb7d30.png') 0 -238px no-repeat; width: 20px; height: 20px; }

.l-list-item { padding: 30px 0 0; }

.list-item { margin-bottom: 20px; }

.list-item__img img { width: 100%; }

.list-item__topper { margin-bottom: 17px; }
.list-item__topper:before, .list-item__topper:after { content: ""; display: table; }
.list-item__topper:after { clear: both; }

.list-item__adress { float: left; font-family: "UbuntuMediumItalic", sans-serif; font-weight: normal; font-size: 18px; color: #9c9a99; }

.item__link_list { float: right; margin-left: 10px; background: #f0efef; }

.list-item__table { margin: 20px 0; }
.list-item__table:before, .list-item__table:after { content: ""; display: table; }
.list-item__table:after { clear: both; }

.list-item__type { float: left; width: 14%; font-family: "UbuntuLight", sans-serif; font-weight: normal; color: #9c9a99; }

.list-item__value { float: left; width: 86%; font-family: "UbuntuMedium", sans-serif; font-weight: normal; color: #9c9a99; }

@font-face { font-family: "UbuntuBold"; src: url("../fonts/ubuntu-bold.eot"); src: url("../fonts/ubuntu-bold.eot") format("embedded-opentype"), url("../fonts/ubuntu-bold.woff") format("woff"), url("../fonts/ubuntu-bold.ttf") format("truetype"), url("../fonts/ubuntu-bold.svg#UbuntuBold") format("svg"); }

@font-face { font-family: "UbuntuRegular"; src: url("../fonts/ubuntu-regular.eot"); src: url("../fonts/ubuntu-regular.eot") format("embedded-opentype"), url("../fonts/ubuntu-regular.woff") format("woff"), url("../fonts/ubuntu-regular.ttf") format("truetype"), url("../fonts/ubuntu-regular.svg#UbuntuRegular") format("svg"); }

@font-face { font-family: "UbuntuMedium"; src: url("../fonts/ubuntu-medium.eot"); src: url("../fonts/ubuntu-medium.eot") format("embedded-opentype"), url("../fonts/ubuntu-medium.woff") format("woff"), url("../fonts/ubuntu-medium.ttf") format("truetype"), url("../fonts/ubuntu-medium.svg#UbuntuMedium") format("svg"); }

@font-face { font-family: "UbuntuLight"; src: url("../fonts/ubuntu-light.eot"); src: url("../fonts/ubuntu-light.eot") format("embedded-opentype"), url("../fonts/ubuntu-light.woff") format("woff"), url("../fonts/ubuntu-light.ttf") format("truetype"), url("../fonts/ubuntu-light.svg#UbuntuLight") format("svg"); }

@font-face { font-family: "UbuntuMediumItalic"; src: url("../fonts/ubuntu-mediumitalic.eot"); src: url("../fonts/ubuntu-mediumitalic.eot") format("embedded-opentype"), url("../fonts/ubuntu-mediumitalic.woff") format("woff"), url("../fonts/ubuntu-mediumitalic.ttf") format("truetype"), url("../fonts/ubuntu-mediumitalic.svg#UbuntuMediumItalic") format("svg"); }

@font-face { font-family: "UbuntuItalic"; src: url("../fonts/ubuntu-italic.eot"); src: url("../fonts/ubuntu-italic.eot") format("embedded-opentype"), url("../fonts/ubuntu-italic.woff") format("woff"), url("../fonts/ubuntu-italic.ttf") format("truetype"), url("../fonts/ubuntu-italic.svg#UbuntuItalic") format("svg"); }

html, body { height: 100%; }

#push { height: 296px; }

#wrap { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -296px; }
