@import base

*
    margin: 0
    padding: 0
body
    min-width: 980px !important
    font-size: 12px
    +u
    color: #424b5a
    line-height: 1.2  
ul,ol
    list-style: none
    margin: 0
// +iphone
//   *
//     -webkit-text-size-adjust: none
form
    margin: 0
button::-moz-focus-inner
    padding: 0
    border: 0

input[type="submit"]::-moz-focus-inner
    padding: 0
    border: 0
h1, h2, h3, h4, h5, h6
    margin: 0
    line-height: 1.2 
p
    margin: 0
a
    text-decoration: none
    &:hover
        text-decoration: none
.page
    position: relative
.h2
    font-size: 20px
    color: #353230

// button
.button
    height: 25px 
    padding: 0 10px
    border: none
    outline: none
    border-radius: 10px
    background: #2f95c7
    +ub
    text-transform: uppercase 
    color: #fff

                  

