@import base


// Header

.l-header
	position: relative
	overflow: hidden
.header
	// margin: 0 auto              
.l-logo
	position: relative
	&:before
		content: ""
		position: absolute
		right: -14px
		top: 0
		height: 4px
		width: 2000em 
		background: #83a7b9  
.header__content
	position: relative
	&:after
		content: ""
		position: absolute
		top: 0
		left: -14px
		height: 4px
		width: 2000em
		background: #a7b983
.logo
	a
		line-height: 80px
		+ub
		font-size: 32px
		color: #1e1e1e
.nav
	ul
		+clr
		margin-top: 37px 
	li
		float: left
		margin-right: 28px 
		a
			+ul
			font-size: 14px
			color: #1e1e1e
			text-transform: uppercase
			&:hover
				color: #2f95c8
		a.current
			color: #2f95c8
.g-menu
	+clr
	margin-top: 10px  
	li	
		float: right
		margin-left: 18px 
		a
			font-size: 10px
			color: #322f2e
			&:hover
				color: #db4637
.socials
	li
		display: inline-block
		margin-left: 20px 
		+ht
		a
			display: block				
.social__fb
	+s(f)
.social__tw
	+s(tw)
.social__gp
	+s(gp)
.header__phone
	margin: 7px 0 0 5px
	+ub
	font-size: 18px
	color: #353230 							 				