@import base


// list

.refine
	padding: 20px 0
	.button
		margin-bottom: 28px
.refine__item
	margin-bottom: 18px 		
.refine__title
	position: relative
	+um
	color: #a7b983
	&:before
		content: ""
		position: absolute
		top: 3px
		left: -20px
		+s(refine)
.result-details
	position: absolute
	top: 0
	right: 0
	padding: 20px
	
// pagination
.list-pagination
	position: relative
	margin: 47px 0
	+clr
.pagination
	float: right
	margin: 0 30px
	font-size: 0 
	li
		display: inline-block
		a
			width: 36px
			height: 25px
			line-height: 25px
			text-align: center   
			display: block
			+border-radius(10px)
			+um
			font-size: 12px
			color: #1e1e1e
			&:hover
				background: #f0efef
				color: #2f95c8
.pagination-next, .pagination-prev
	position: relative
	top: 2px
	float: right
	+ht
	+s(next)
.pagination-prev
	+s(prev)

// list-item
.l-list-item
	padding: 30px 0 0
.list-item
	margin-bottom: 20px 	
.list-item__img
	img
		width: 100%
.list-item__topper
	+clr
	margin-bottom: 17px 
.list-item__adress
	float: left
	+um_i
	font-size: 18px
	color: #9c9a99
.item__link_list
	float: right
	margin-left: 10px 
	background: #f0efef
.list-item__table
	margin: 20px 0
	+clr	
.list-item__type
	float: left
	width: 14%
	+ul
	color: #9c9a99
.list-item__value
	float: left
	width: 86%
	+um
	color: #9c9a99 	 
	 	 	


