@import base

// Styles		
.filters
	position: relative
	background: #1e1e1e
	margin-right: -15px
	&:before
		content: ""
		position: absolute
		right: 100%
		top: 0
		width: 2000em
		height: 100%
		background: #1e1e1e   
.item__img
	img
		width: 100%
.slide
	margin-left: -15px 	 




	





	
	



