html,body
	height: 100%

body
	margin: 0
	color: #333333
	background-color: #f6f7f8
	line-height: 20px
	min-width: 980px
	font:
		family: Arial,sans-serif
		weight: normal
		size: 14px

.select
	position: relative
	height: 30px
	line-height: 30px
	color: #54595a
	font-size: 12px
	background-color: #fff
	+box-shadow(0 -1px 0 #fff, inset 0 1px 1px #b4bcbf)
	+unselectable
	&.select_mod
		float: left
		width: 50%
	&:hover
		cursor: pointer
	span
		display: block
		padding: 0px 32px 0 10px
		overflow: hidden
		text-overflow: ellipsis
		white-space: nowrap
		em
			font-style: normal
		i
			position: absolute
			right: 8px
			top: 50%
			margin-top: -8px
			content: ""
			+s(arrow)
	&.is-open
		span
			i
				+transform(rotate(180deg))
		.select__drop
			display: block
	.select__drop
		display: none
		position: absolute
		top: 100%
		z-index: 10
		left: 0
		width: 100%
		background-color: #fff
		+box-shadow(inset 0 0px 1px #b4bcbf)
		ul
			margin: 0
			padding: 5px 0
		li
			padding: 2px 10px
			&:hover
				background-color: #cedee5
				cursor: pointer
			span
				padding: 0

// sticky footer 
.out
	min-height: 100%
	height: auto !important
	height: 100%
	margin: 0 auto
	// +background-image(linear-gradient(bottom, #fff 40%, #d8dee3 45%))

//header
.header
	text-align: center
	padding: 30px 0
	background-color: #4d9fc0
	color: #f5f7f7
	background-image: url(../img/bg.jpg)
	+background-size(cover)
	background-position: center center
	a
		color: inherit
		text-decoration: none
	.header-i
		position: relative
	.header__logo
		margin: 0
		display: inline-block
		margin: 0 0 40px
	.header__logo-title
		margin: 0
		font-weight: normal
		line-height: 1.2
	.header__logo-description
		margin: 0
		font-family: Arial
		font-size: 11px
		font-style: italic
		font-weight: normal
		line-height: 1.2
	.header__contact
		position: absolute
		right: 0
		top: 0
		text-align: right
	.header__tel
		margin-bottom: 30px
		color: #fff
		font-size: 24px
	.search-title
		text-transform: uppercase
		font-weight: normal
		margin-top: 15px
		font-size: 14px
//nav
.nav
	position: relative
	text-transform: uppercase
	margin: 0
	padding-bottom: 55px
	&:after
		position: absolute
		bottom: 0
		left: 50%
		margin-left: -88px
		width: 176px
		height: 1px
		background-color: #3385ac
		+box-shadow(0 1px 1px #6ab4d2)
		content: ""
	ul
		margin-bottom: 0
	li
		display: inline-block
		margin: 0 20px
		&.is-active, &:hover
			a
				color: #191919
				+text-shadow(0 0 0)
	a
		text-decoration: none
		+text-shadow(0 1px 0 #5b816b)
.nav_secondary
	margin-bottom: 17px
	ul
		+clr
	li
		float: left
		display: inline-block
		margin-left: 20px
		a
			color: #ffcac3
			&:hover
				color: #f5d7af
//social acc
.social-accounts
	text-align: right
	.social-accounts__item
		display: inline-block
		vertical-align: top
		margin-left: 15px
		+ht
		a
			display: block
			height: 100%
		&.social-accounts__item_tw
			+s(tw)
		&.social-accounts__item_fb
			+s(fb)
		&.social-accounts__item_gp
			+s(gp)
	&.social-accounts_footer
		.social-accounts__item
			&.social-accounts__item_tw
				+s(tw-r)
			&.social-accounts__item_fb
				+s(fb-r)
			&.social-accounts__item_gp
				+s(gp-r)

//footer
.footer
	font-size: 12px
	.footer__top
		border-top: 3px solid #dee0e1
		background-color: #fff
		+box-shadow(0 1px 1px #c8cdcf)
		padding: 30px 0 45px
	.footer__address
		ul
			margin-left: -35px
		.footer__address-item
			display: inline-block
			margin-left: 35px
			color: #191919
			a
				color: inherit
				text-decoration: underline
				&:hover
					text-decoration: none
		em
			display: block
			font-weight: normal
			font-style: normal
			font-size: 11px
			color: #999
	.footer-i
		padding: 25px 0 20px
	.footer__nav
		position: relative
		text-transform: none
		text-align: right
		padding: 0
		&:after
			content: none
		li
			margin: 0 0 0 20px
			&:first-child
				margin-left: 0
			a
				color: #999
				text-decoration: none
				+text-shadow(0 0 0)
				&:hover
					text-decoration: underline
	.footer__logo
		margin-top: -6px
		text-align: right
		+ht
		a
			display: inline-block
			vertical-align: top
			+s(ec)
	.footer__request
		input
			margin-bottom: 0
//search toolbar
.search-toolbar
	position: relative
	color: #77878d
	background-color: #fff
	+box-shadow(0 1px 1px #c8cdcf)
	+background-image(linear-gradient(bottom, #e5f1f5 0%, #fff 100%))
	z-index: 100
	.search-toolbar-i
		padding: 17px 0 20px
	.search-toolbar__title
		color: #6e7f85
		font-size: 12px
	.search-toolbar__btn
		position: relative
		.btn
			margin-top: 20px

//carousel
.carousel
	position: relative
	z-index: 12
	overflow: hidden
	padding-bottom: 36px
	.carousel-inner
		overflow: visible
		.item
			.carousel__pic
				height: 420px
				overflow: hidden
				img
					max-width: 100%
					min-height: 100%
					display: block
					margin: 0 auto
	.carousel-indicators
		position: absolute
		bottom: 15px
		width: 100%
		text-align: center
		li
			float: none
			display: inline-block
			width: 10px
			height: 10px
			margin: 0 2px
			text-indent: -999px
			background: none
			+border-radius(5px)
			border: 1px solid #939393
			&.active
				background-color: #fff
				border: 1px solid transparent
			&:hover
				cursor: pointer
	.carousel-caption
		position: absolute
		left: 50%
		margin-left: -160px
		bottom: -36px
		height: 320px
		width: 320px
		padding: 50px 10px
		+border-radius(50%)
		background: #333333
		background: rgba(#191919, 0.9)
		text-align: center
		font-family: "Times New Roman"
	.carousel-caption__params
		margin-bottom: 25px
		font-family: Arial
		font-size: 12px
		table
			width: 100%
			td
				padding-left: 10px
				color: #f0f4f5
				text-align: left
				padding-bottom: 10px
				vertical-align: top
				&:first-child
					width: 46%
					padding: 0
					color: #a3a5a6
					text-align: right
	.carousel-caption__title
		font-weight: normal
		color: #fff
		font-size: 22px
		margin-bottom: 15px
	.carousel-caption__price
		color: #64a7bf
		font-size: 32px
		margin-bottom: 20px
	.carousel-caption__btn
		color: #e65c49
		text-transform: uppercase
		font-weight: bold
		font-size: 14px
		text-decoration: underline
		&:hover
			text-decoration: none

// hero
.hero
	margin-bottom: 35px
	ul
		margin-bottom: 0
	p
		margin-bottom: 25px

//popular links
.popular-links
	background-color: #d99f51
	padding: 20px
	margin-top: 35px
	margin-bottom: 50px
	font-size: 13px
	.popular-links__title
		display: inline-block
		vertical-align: top
		color: #fff
		font-size: 42px
		font-weight: normal
		float: left
		margin: 0
		margin-right: 65px
	.popular-links__list
		display: inline-block
		vertical-align: top
		+clr
		margin-left: 0
		margin-bottom: 0
		font-size: 0
		li
			font-size: 13px
			display: inline-block
			vertical-align: top
			width: 25%
			color: #191919
			padding-right: 5px
			a
				color: inherit
				text-decoration: underline
				&:hover
					text-decoration: none
	.popular-linls__all
		display: inline-block
		vertical-align: top
		color: #fff
		text-decoration: underline
		&:hover
			text-decoration: none

.sale
	display: none
	position: absolute
	top: 50%
	left: 50%
	margin-left: -42px
	margin-top: -42px
	width: 84px
	height: 84px
	line-height: 84px
	text-align: center
	text-transform: uppercase
	font-size: 12px
	font-weight: bold
	color: #f5f7f7
	opacity: 0.9
	+border-radius(50%)
	background-color: #e55d4b

// catalog
.catalog
	margin-bottom: 50px
	.catalog__list
		margin-bottom: 0
		margin-left: 0
		.catalog__item
			background-color: #1a1a1a
			position: relative
			&.is-sale
				.sale
					z-index: 11
					display: block
				.catalog__image
					opacity: 0.5
				&.catalog__item
					overflow: hidden
					&:before
						position: absolute
						left: -50%
						top: 50%
						width: 200%
						z-index: 10
						// margin-top: -3px
						background: #d35b49
						height: 3px
						content: ""
						+transform(rotate(-45deg))
				&:hover
					.sale
						display: none
					.catalog__image
						opacity: 1
					&.catalog__item
						overflow: hidden
						&:before
							content: none
		.catalog__image
			height: 210px
			overflow: hidden
			img
				display: block
				min-width: 100%
				margin-right: auto
				margin-left: auto
		.catalog__caption
			padding: 20px 10px
			color: #f5f7f7
			font-size: 12px
		.catalog__caption-title
			font-size: 16px
			a
				color: inherit
				text-decoration: none
				&:hover
					text-decoration: underline
		.catalog__caption-price
			color: #65a7bf
			font-weight: bold
			font-size: 14px
		.catalog__caption-params
			table
				td
					padding-left: 5px
					font-size: 12px
					&:first-child
						width: 46%
						padding: 0
						color: #999








