@import base

*
    margin: 0
    padding: 0
  
ul,ol
    list-style: none
    margin: 0
// +iphone
//   *
//     -webkit-text-size-adjust: none
form
    margin: 0
button::-moz-focus-inner
    padding: 0
    border: 0

input[type="submit"]::-moz-focus-inner
    padding: 0
    border: 0
h1, h2, h3, h4, h5, h6
    margin: 0
    line-height: 1.2 
p
    margin: 0
a
    text-decoration: none
    &:hover
        text-decoration: none
.page
    position: relative
.content
    padding: 35px 0            
.button
    width: 100px 
    height: 30px
    +mb
    color: #fff
    font-size: 20px 
    border: none
    outline: none 
    background: #0e7de5
    @include box-shadow(0 1px 1px #17191e)
.link-more 
    +mm_i
.more
    display: inline-block
    height: 20px
    line-height: 20px 
    padding: 0 12px    
    +mm_i
    color: #37939b
    background: #e5e1d9
    +box-shadow(0 1px 3px rgba(155,149,139,.75), inset 0 1px 0 #fbf9f8)    
.h2
    margin:  0 0 30px
    +mm
    font-size: 26px
    color: #525441
.h2_blue
    color: #37939b
.h3
    +mn
    color: #f3efe8
    font-size: 26px        
.divide
    height: 6px
    margin: 26px 0
    border-top: 1px solid #d1ccc4
    border-bottom: 1px solid #fff
    background: #e5e1da
.divide-thin
    position: relative
    margin-bottom: 11px
    height: 1px
    background: #e5e1da
    &:before
        content: ""
        position: absolute
        bottom: -1px
        left: 0
        right: 0
        height: 1px 
        background: #fff
.title
    position: relative
    padding-left: 35px
    +mn_i
    font-size: 36px
    color: #e33c09
    &:before
        content: ""
        position: absolute
        bottom: 9px
        left: 0
        +s(house)         
.popular
    display: inline-block
    margin: 0 10px 10px 0
    a
        display: block
        height: 20px
        line-height: 20px
        padding: 0 10px
        +mn_i
        color: #525441
        background: #fff 
        &:hover
            background: #d5d1ca
// select
.select
    position: relative
    width: 110px 
    height: 30px
    +box
    background: #fff
    border: 1px solid #c1c1bf
    border-radius: 0
    +box-shadow(inset 0 0 2px rgba(0,0,0,.35))
    select
        position: absolute
        top: 0px
        left: 0px
        width: 100%
        +opacity(0)
        color: #292b2c
        z-index: 2
.select__arrow
    position: absolute
    top: 0
    bottom: 0
    right: 0
    width: 28px
    &:after
        content: ""
        position: absolute
        top: 50%
        left: 50%
        margin: -4px 0 0 -6px
        +s(select)
.select__value
    +box
    font: 11px Arial, sans-serif
    line-height: 30px
    color: #515357
    padding: 0 33px 0 12px
.select_list
    position: absolute
    top: 66px
    left: 0
    background: #e5e1da
    border: none
    +box-shadow(none) 

// select-radio
.select-radio
    position: relative
    min-width: 51%
    text-align: left
    span
        position: relative
        display: inline-block
        margin-left: 14px
        font-size: 11px 
        color: #9b9e9e
        &:before
            content: ""
            position: absolute
            top: 2px
            left: -31px
            width: 17px
            height: 17px
            +box
            border: 2px solid #9b9e9e
            border-radius: 50%
            background: #fff
    input
        +opacity(0)
    input:checked + span
        color: #1c1c1c
        &:after
            content: ""
            position: absolute
            top: 7px
            left: -26px
            width: 7px
            height: 7px 
            border-radius: 50%
            background: #0e7ee5

// select-checkbox
.select-checkbox
    position: relative
    display: inline-block
    min-width: 51%
    span
        display: inline-block
        margin-left: 14px
        +no-sel
        font-size: 11px 
        color: #9b9e9e
        &:before
            content: ""
            position: absolute
            top: 1px
            left: 0px
            width: 16px
            height: 16px
            +box
            border: 2px solid #9b9e9e
            border-radius: 1px
            background: #fff
    input
        +opacity(0)
    input:checked + span
        color: #1c1c1c 
        &:after
            content: ""
            position: absolute
            top: 6px
            left: 4px
            +s(checked)                 

