@import base

// Styles

// .span12		1070px
// .span11		980px
// .span10		890px
// .span9		800px
// .span8		710px
// .span7		620px
// .span6		530px
// .span5		440px
// .span4		350px
// .span3		260px
// .span2		170px
// .span1		80px

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container
	width: 980px
	padding: 0 10px
	margin: 0 auto

.item
	position: relative
.item__block
	position: absolute
	width: 670px
	height: 70px  
	bottom: 0
	left: 0
.item__block-left
	width: 390px 	
	+opacity(.9)
	background: #37939b
	line-height: 70px
	+mm
	text-align: center
	font-size: 33px
	color: #fff 
.item__price
	width: 170px
	+opacity(.9)
	text-align: center
	font: bold 24px/70px Arial, sans-serif
	color: #ffb025
	background: #00464d
.item__more
	width: 110px
	text-align: center
	background: #000
	line-height: 21px   	





	





	
	




