@import base

// Styles

// .span12		1070px
// .span11		980px
// .span10		890px
// .span9		800px
// .span8		710px
// .span7		620px
// .span6		530px
// .span5		440px
// .span4		350px
// .span3		260px
// .span2		170px
// .span1		80px

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container
	width: 980px
	padding: 0 10px
	margin: 0 auto

.page
		



	





	
	




