@import base

// Styles
.topper
	position: relative
	margin-bottom: 50px
	&:after
		content: ""
		position: absolute
		bottom: -15px
		left: 0
		right: 0
		height: 15px
		background: url(../img/slide-shadow.png) 0 0 no-repeat
		+bsize
.slide
	margin: 0
	border-bottom: 2px solid #fff  
.item
	position: relative
.item__img
	img
		width: 100% 	
.item__block
	position: absolute
	width: 670px
	height: 70px  
	bottom: 0
	left: 0
.item__block-left
	width: 390px 	
	+opacity(.9)
	background: #37939b
	line-height: 70px
	+mm
	text-align: center
	font-size: 33px
	color: #fff 
.item__price
	width: 170px
	+opacity(.9)
	text-align: center
	font: bold 24px/70px Arial, sans-serif
	color: #ffb025
	background: #00464d
.item__more
	width: 110px
	text-align: center
	background: #000
	line-height: 21px
	a
		color: #f3efe8
.carousel-indicators
	top: auto
	bottom: 20px
	right: 20px
	li
		border: 1px solid #fff
		border-radius: 50%
		background: transparent
.article
	p
		margin-bottom: 5px
		color: #8c8984
		line-height: 1.6
.quote
	font: italic 12px Arial, sans-serif
.preoperties__topper
	margin-bottom: 25px			 		 
.preoperties__nav	
	margin-top: 16px
	text-align: right
	li
		display: inline-block
		a
			display: inline-block
			height: 20px
			line-height: 20px
			padding: 0 10px  
			text-decoration: underline
			+mm_i
			color: #525441
			&:hover
				background: #f26c00
				text-decoration: none
				color: #fff
.preoperties__item
	margin-bottom: 27px				
.preoperties__img
	position: relative
	height: 230px
	margin-bottom: 20px 
	+box-shadow(0 1px 1px #ada496)
	img
		width: 100%
		height: 100%
.preoperties__adress
	position: absolute
	bottom: 0
	left: 0
	right: 0
	+mm
	font-size: 18px
	color: #4c4e4f
	background: #fff
	+opacity(.8)
	padding: 8px
.preoperties__info
	+mbook
	margin-bottom: 17px
	p
		min-height: 1px!important	
.preoperties__type
	width: 80px
	color: #929496
.preoperties__value
	width: 290px
	color: #414345 	
.preoperties__price
	font: bold 18px Arial, sans-serif
	color: #414345
.preoperties__item.sale
	.sale__img
		display: block
	.sale_title
		display: block
	.preoperties__adress
		background: #000
		color: #fff
		+opacity(1) 
.sale__img
	display: none
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	background: #000
	+opacity(.5)
.sale__icon
	position: absolute
	top: 50%
	left: 50%
	margin: -47px 0 0 -47px
	+s(ico_sale)
.sale_title
	display: none
	position: absolute
	top: 0
	right: 10px
	+s(sale)
	text-align: center
	padding-top: 25px
	+box
	+mm_i
	color: #fff
	text-transform: uppercase
	z-index: 9
.filters
	position: absolute
	left: 50%
	top: 30px
	width: 925px
	margin-left: -462px
	z-index: 9999
.filters__left
	width: 782px
	height: 71px
	padding-left: 18px
	+box
	+box-shadow(0 0 10px #6a6558) 
	background: #fff 
.filters__right
	width: 143px    			 		
.go
	border: none
	outline: none
	+mb
	font-size: 24px 
	text-transform: uppercase
	color: #fff
	+s(go)
.filters__title
	display: inline-block
	+mb
	font-size: 24px
	color: #df322a
	text-transform: uppercase
	line-height: 71px
.filter__item
	display: inline-block
	margin-left: 20px
	p
		margin-bottom: 5px
		+mm
		color: #515357
		font-size: 12px
.filter__item_group
	margin-left: 10px
	
// agent
.l-agent
	.slide
		border-bottom: none
.agent
	padding: 20px 30px
	background: #2f333b
.agent__img
	height: 90px
	img
		width: 100%
		height: 100%
.agent__info
	.h3
		margin-bottom: 13px
	p
		font: italic 12px Arial, sans-serif
		color: #f3efe8
.agent__link
	padding-top: 40px
	
// preoperties_inside
.sidebar
	padding: 90px 0
	.h2
		text-align: center
		margin-bottom: 5px
	.divide
		margin: 5px 0 20px 	
.contact-agent
	width: 200px
	margin: 0 auto 30px
	text-align: center
.contact-agent__text
	text-align: center	
.agent-link
	+mn
	font-size: 26px
	color: #525441
	&:hover
		color: #525441
.contact-agent__phone
	font: 20px Arial, sans-serif
	color: #525441
.contact-agent__reting
	margin-bottom: 15px
	i
		display: inline-block
.star-b
	+s(star-b)
.star-g
	+s(star-g)
.contact-agent__img
	margin-bottom: 10px
.contact-agent__form
	textarea
		width: 200px
		max-width: 200px
		height: 120px
		border-radius: 0 
		+box 		
.contact-agent__input
	width: 100%
	+box
	height: 30px!important  
	border: 1px solid #c1c1bf
	background: #fff
	border-radius: 0!important
	+box-shadow(inset 0 0 2px rgba(0,0,0,.35))
.l-similar
	button
		width: 100%	
.similar	
	position: relative
	overflow: hidden
	padding-top: 22px
	margin-top: 5px 
	border-top: 1px solid #e5e1da
	+box-shadow(inset 0 1px 1px #fff)
	&:first-child
		margin-top   
.similar__info
	width: 73%
.similar__img
	width: 25%
	+box-shadow(0 1px 1px #ada496)
	img
		width: 100%
.similar__link
	display: inline-block
	margin-bottom: 5px
	+mm
	font-size: 18px
	color: #4c4e4f
	&:hover
		color: darken(#4c4e4f, 5%)		 
.similar__price
	margin-bottom: 5px 
	font: bold 16px Arial, sans-serif
	color: #f26c00

// tabs
.content__tabs
	position: relative
	+clr
	.divide
		margin: 10px 0
.tabs
	border-bottom: none
	margin-top: 20px
	li
		height: 20px 
	a
		display: block
		height: 21px
		line-height: 21px
		padding: 0 10px!important
		border-radius: 0!important
		border: none!important
		+box  
		+mm_i
		font-size: 12px
		text-decoration: underline 
		color: #525441
		&:hover
			color: #fff
			text-decoration: none
			background: #f26c00!important 
	.active
		a
			color: #fff
			text-decoration: none
			background: #f26c00
.montly
	position: absolute
	top: 17px
	right: 0px
	cursor: pointer
	height: 20px
	width: auto 
	line-height: 20px  
	padding: 0px 10px 0 25px
	+mb
	font-size: 12px
	color: #fff 
.payment
	position: absolute
	top: 2px
	left: 2px
	+s(ico_payment)
//slider
.building__gallery
	position: relative
	margin-bottom: 20px
	position: relative
	padding-bottom: 27px
	border-bottom: 1px solid #e5e1da
	&:after
		content: ""
		position: absolute
		bottom: -2px
		left: 0
		right: 0
		height: 1px
		background: #fff  
.building__photo
	+clr
	.building__media
		text-align: center
		height: 450px
		img
			vertical-align: middle
			text-align: center
			width: 100%
			height: 100%
			display: block
.building__thumbs
	position: relative
	+clr
	+box
	padding: 10px
	text-align: center 
	.caro
		width: 590px
		height: 60px
		margin: 7px auto 13px
		overflow: hidden
		position: relative
	ul
		margin: 0
		position: absolute
		width: 20000em
		list-style: none
		li
			width: 90px
			height: 60px
			float: left
			margin: 0 10px 0 0
			cursor: pointer
			+opacity(1)
			&:hover, &.active
				border-color: #ff9900
				background-color: #ff9900
				@include opacity(.55)
			img
				width: 100%
				height: 100%
				vertical-align: middle
.slide__arrow-prev, .slide__arrow-next
	position: relative
	display: inline-block
	padding: 0 5px
	+box
	+mm_i
	font-size: 12px
	text-decoration: underline 
	color: #525441
	cursor: pointer
	+no-sel
	&:hover
		color: #525441
		text-decoration: none 
	&.disabled
		+opacity(.5)	










	





	
	



